/* FONT COLLECTION */
/* NOTE: Если вы знаете как можно сократить этот код или использовать меньшее количество шрифтов при том же результате - напишите мне. */

/* Русские символы (cyrillic - 400) */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v15/mErvLBYg_cXG3rLvUsKT_fesZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* Английские символы (latin - 400) */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v15/CWB0XYA8bzo0kSThX0UTuA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

/* Русские символы (cyrillic - 500) */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto Medium'), local('Roboto-Medium'), url(https://fonts.gstatic.com/s/roboto/v15/oHi30kwQWvpCWqAhzHcCSBJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* Английские символы (latin - 500) */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto Medium'), local('Roboto-Medium'), url(https://fonts.gstatic.com/s/roboto/v15/RxZJdnzeo3R5zSexge8UUVtXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

body, input, select, button, textarea { font-family: 'Roboto', 'Arial', sans-serif; }

/* При использовании шрифта Roboto жирный шрифт равен 500 */
b,
strong,
.b-add_to_list .trigger,
.b-add_to_list .option,
.b-bb_codes-examples .name,
.b-catalog_entry-tooltip .inner a.name,
.b-catalog_entry-tooltip .inner .line .key,
.b-catalog_entry-tooltip .inner .additional-images .link .title,
.b-catalog_entry .cover .misc span.episode .number,
.b-catalog_entry .cover .title,
.b-club .name,
.b-db_entry-note .name-container .name,
.b-dialog>.inner header .name-date a.name,
.b-entry-info .line .value,
.b-link_button,
.b-message>.inner header .name-date a.name,
.b-table th,
.b-user.detailed .info .image-name .name,
.b-video_variant .episode-num,
.b-video .name,
.b-video .marker,
.bar.horizontal .line .x_label,
.contests .contest .title,
.mischeadline,
.l-menu .sticky-topics .topic .title,
.l-menu .contests .contest .title,
.l-menu .calendar .entry .title,
.l-menu .reviews .entry .title,
.l-menu .clubs .entry .title,
.l-footer .copyright,
.l-footer .links,
.link-with-input .link,
.p-anime_videos-index .c-anime_video_episodes .title,
.p-anime_videos-index .c-videos .title,
.p-contests .match-day .match-link.active,
.p-contests .results .cc-result .c-rounds .label,
.p-dashboard .l-menu .ongoing .title,
.p-dashboard .l-menu .season .title,
.p-dashboards .user_list .list-type>.title,
.p-dashboards .user_list .history>.title,
.p-dashboards-show .c-content .options .option,
.p-profiles .profile-head .c-history .entry .title,
.p-profiles .profile-head .c-info .c-lists-info .b-stats_bar .title,
.p-profiles .profile-head .c-info .c-lists-info .b-stats_bar .compatibility .rate,
.p-profiles-show .profile-content .activity .title,
.p-topics-create .b-shiki_editor .title,
.p-topics-edit .b-shiki_editor .title,
.p-topics-new .b-shiki_editor .title,
.p-topics-new .topic-type .type-name,
.p-topics-update .b-shiki_editor .title,
.p-user_rates-index .list-groups .summary .stat-value {
  font-weight: 500 !important;
}

@media screen and (min-width: 1025px) {
  .b-entry-info .line .value {
    font-weight: 400 !important;
  }
}
/* END of FONT COLLECTION */
