/**
 * PROFILE COVER
 */

@media screen and (min-width: 320px) {
  .p-profiles .profile-head .c-brief {
    background-color: #fff;
    box-shadow: 0 2px 8px 2px rgba(0,0,0,.24);
  }

  .p-profiles .profile-head .c-brief:before {
    content: '';
    display: block;
    height: 0;
    padding-bottom: 56.25%;
    background-color: #ddd;
    background-image: url(https://i.ytimg.com/vi/SnkDLYf8mro/maxresdefault.jpg);
    background-position: top center;
    background-size: cover;
  }
}

@media screen and (min-width: 480px) {
  .p-profiles .profile-head .c-brief .avatar {
    position: absolute;
    top: auto;
    right: auto;
    bottom: 0;
    left: 0;
    max-width: 148px;
    margin: 1.5rem;
    z-index: 2;
  }

  .p-profiles .profile-head .c-brief .avatar img {
    width: 120px;
  }

  .p-profiles .profile-head .c-brief header {
    position: absolute;
    top: auto;
    right: 0;
    bottom: 0;
    left: 0;
    min-height: 112px;
    padding: 1rem 1.5rem 1rem calc(4rem + 148px);
    margin: 0;
    background: inherit;
    z-index: 1;
  }
}

@media screen and (min-width: 600px) {
  .p-profiles .profile-head .c-brief {
    max-height: 380px;
    margin: -3rem -1rem 1rem;
    background-color: inherit;
    box-shadow: none;
  }

  .p-profiles .profile-head .c-brief:before {
    height: 9999px;
    max-height: inherit;
    padding-bottom: 0;
  }

  .p-profiles .profile-head .c-brief .avatar {
    max-width: 160px;
  }

  .p-profiles .profile-head .c-brief .avatar img {
    width: 160px;
    box-shadow: 0 2px 8px 1px rgba(0,0,0,.16);
  }

  .p-profiles .profile-head .c-brief header {
    padding: 1rem 1.5rem 1rem calc(4.5rem + 160px);
  }
}

@media screen and (min-width: 960px) {
  .p-profiles .profile-head .c-brief {
    max-height: 504px;
    margin: -1rem -1rem 1rem;
  }
  .p-profiles .profile-head .c-info {
    width: 77%;
    padding-right: 2.5rem;
  }

  .p-profiles .profile-head .c-history {
    float: none;
    position: absolute;
    right: 0;
    top: 392px;
    width: 23%;
    margin: .5rem 0;
    z-index: 3;
  }
}