/**
 * PROFILE CONTENT
 * Change layout Activity, Friends, Clubs, Favorites blocks
 */

.p-profiles .lifetime {
  margin-bottom: 0;
  min-height: 0;
}

.p-profiles .lifetime .bar,
.p-profiles .lifetime .times,
.p-profiles .profile-content .activity .title {
  display: none;
}

.p-profiles .lifetime .title > .label {
  font-size: 0;
  line-height: 0;
}

.p-profiles .lifetime .title > .label:before {
  content: 'Активность';
  display: block;
  font-size: 0.875rem;
  line-height: 1rem;
}

.p-profiles .lifetime .title .value {
  height: 16px;
  margin-top: 0;
  line-height: 16px;
}

.p-profiles .profile-content .cc-2 .c-right .cc-2a {
  margin-bottom: 16px !important;
}

@media (min-width: 768px) {
  .p-profiles .profile-content .graph {
    height: 155px;
  }

  .p-profiles .profile-content .cc-2 > .c-column {
    width: 100%;
    margin-bottom: 1rem;
  }

  .p-profiles .profile-content .cc-2 .activity {
    padding-bottom: 1rem;
  }
}


@media (min-width: 960px) {
  .p-profiles .profile-content .cc-2 {
    position: relative;
  }

  .p-profiles .profile-content .cc-2 .c-left {
    width: 77%;
    min-height: 220px;
    padding-right: 2.5rem;
    margin-bottom: 1.5rem;
  }

  .p-profiles .profile-content .cc-2 .c-right .cc-2a {
    position: absolute;
    top: 0;
    right: 0;
    width: 23%;
    margin-top: -244px;
  }

  .p-profiles .profile-content .cc-2 .c-right .cc-2a > .c-column {
    clear: both;
    width: 100%;
    margin: 0;
  }
}