/* PROFILE HEADER - TRANSPARENT */
@media (min-width: 600px) {
  .p-profiles .profile-head .c-brief header {
    background-color: rgba(0,0,0,.64);
  }

  /* Цвет основного текста */
  .p-profiles  .profile-head header.head h1, 
  .p-profiles  .profile-head header.head h2 {
    color: #fff;
  }

  /* Цвет дополнительного текста */
  .p-profiles  .profile-head header.head .notice,
  .p-profiles .profile-head .c-info .c-additionals b {
    color: #aaa;
  }

  /* Цвет ссылок */
  .p-profiles .profile-head .c-brief  a,
  .p-profiles .profile-head .c-brief  a:hover,
  .p-profiles .profile-head .c-brief  a:active {
    color: #eee !important;
  }

  .p-profiles .profile-head .c-brief .profile-actions > a:hover {
    color: #444 !important;
  }
}