%md-scrollbar
  &::-webkit-scrollbar
    width: 15px
    background-image: linear-gradient(var(--color-border), var(--color-border))
    background-size: 1px calc(100% - 10px)
    background-repeat: no-repeat
    background-position: center

  &::-webkit-scrollbar-thumb
    background-color: var(--color-menu-background-active)
    box-shadow:  inset 0 0 0 5px var(--color-background-dialog)
