%shiki-tag
  padding: 0 8px
  margin: 0 4px 0 0
  background-color: $color-area-normal
  border: 0
  border-radius: $border-rounded
  color: $color-text-secondary
  font-size: .875rem
  line-height: 24px
  &:hover, &[href]:hover
    padding: 0 8px
    margin: 0 4px 0 0
    background-color: $color-button-hover
    color: $color-text-primary
  &:active, &[href]:active
    background-color: $color-border
