.p-profiles .profile-head .c-brief .avatar:before {
  content: '';
  display: block;
  position: relative;
  width: 80px;
  height: 80px;
  margin: auto;
  background-position: center;
  background-size: cover;
  border-radius: 0;
  z-index: 1;
}

.p-profiles .profile-head .c-brief .avatar img {
  display: none;
}

@media screen and (min-width: 768px) {
  .p-profiles .profile-head .c-brief .avatar:before {
    width: 160px;
    height: 160px;
  }
}

/* МОЯ АВАТАРКА */
.p-profiles .profile-head .c-brief .avatar:before {
  background-image: url(http://i.imgur.com/wtMep.gif);
}
