<!DOCTYPE html>
<html style="background: #FAFAFA; color: #212121; font-size: 16px;">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Сборщик shiki-theme</title>
    <link rel="stylesheet" href="./src/css/common.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,500&amp;subset=cyrillic,cyrillic-ext,latin-ext">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  </head>
  <body>
    <header class="topbar">
      <div class="menubar" style="max-width: 62.5rem; margin-right: auto; margin-left: auto;">
        <a href="//shikimori.org/grin3671" class="btn btn-icon icon-author fl-r" title="Профиль автора"></a>
        <a href="//github.com/grin3671/shiki-theme" class="btn btn-icon icon-github fl-r" title="Код на GitHub.com"></a>
        <h1 class="topbar-title">Сборщик shiki-theme</h1>
      </div>
    </header>
    <div id="page" class="page" style="max-width: 62.5rem; margin-right: auto; margin-left: auto;">
      <div class="content">
        <div class="field-select secondary-action" v-if="isBetaRelease">
          <select v-model="theme.release">
            <option value="" disabled>Выберите ветку:</option>
            <option value="stable">Стабильная</option>
            <option value="beta">Бета-тест</option>
          </select>
          <div class="divider"></div>
        </div>
        <h1 class="display1">Настройка темы</h1>
        <form action="" v-on:submit.prevent="createTheme">
          <h3>Основные настройки</h3>

          <div class="field">
            <span class="field-label">Вид профиля</span>
            <label class="label-radio">
              <input type="radio" name="type" value="1" :value="true" v-model="cover_display">
              <span>С обложкой</span>
            </label>
            <label class="label-radio">
              <input type="radio" name="type" value="0" :value="false" v-model="cover_display">
              <span>Без обложки</span>
            </label>
          </div>

          <div class="field">
            <span class="field-label">Цветовая схема</span>
            <label class="label-radio">
              <input type="radio" name="scheme" value="light" :value="false" v-model="scheme_dark" v-on:change="changeScheme">
              <span>Светлая</span>
            </label>
            <label class="label-radio">
              <input type="radio" name="scheme" value="dark" :value="true" v-model="scheme_dark" v-on:change="changeScheme">
              <span>Темная</span>
            </label>
            <label class="label-radio" v-if="user_setting.custom_scheme">
              <input type="radio" name="scheme" value="custom" v-model="user_setting.scheme">
              <span>Своя схема</span>
            </label>
          </div>


          <div class="field field-required" v-if="cover_display">
            <label for="user_id" class="field-label">Укажите ваш ID:</label>
            <div class="field-text">
              <input type="text" id="user_id" name="id" v-on:change="setId" v-model="user_id" required>
              <div class="divider"></div>
            </div>
            <span class="field-hint">Сюда можно вставить ссылку на вашу аватарку.</span>
          </div>


          <div class="field" v-if="cover_display">
            <label for="user_cover" class="field-label">Укажите ссылку на обложку:</label>
            <div class="field-text">
              <input type="text" id="user_cover" name="cover" v-model="user_cover">
              <div class="divider"></div>
            </div>
            <span class="field-hint">Хостинг картинок должен поддерживать потокол https://. Рекомендуемый хостинг: imgur.com.</span>
          </div>


          <div class="field">
            <label for="user_background" class="field-label">Укажите ссылку на фоновую картинку сайта:</label>
            <div class="field-text">
              <input type="text" id="user_background" name="cover" v-model="user_background">
              <div class="divider"></div>
            </div>
            <span class="field-hint">Хостинг картинок должен поддерживать потокол https://. Рекомендуемый хостинг: imgur.com.</span>
          </div>


          <input type="checkbox" id="color_settings" class="field-checkbox" name="extra">
          <label for="color_settings" class="field-switch secondary-action"></label>
          <h3>
            <label for="color_settings">Настройка цветов</label>
          </h3>


          <div class="color-settings">

            <p class="text-hint">Цветовая палитра состоит из основного и акцентирующего цвета. Основной цвет приложения – наиболее часто встречающийся цвет на сайте, а акцентирующий используется для выделения важных элементов. Ознакомится с системой цветов можно на сайте: <a href="//material.io/guidelines/style/color.html#color-color-system">material.io</a>.</p>

            <div class="field">
              <span class="field-label">Цветовая палитра</span>
              <label class="label-radio">
                <input type="radio" name="color_pallete" value="standart" v-model="user_setting.pallete" v-on:change="changePallete()">
                <span>Стандартная</span>
              </label>
              <label class="label-radio">
                <input type="radio" name="color_pallete" value="blue_pink" v-model="user_setting.pallete" v-on:change="changePallete()">
                <span>v1.1</span>
              </label>
              <label class="label-radio">
                <input type="radio" name="color_pallete" value="teal_orange" v-model="user_setting.pallete" v-on:change="changePallete()">
                <span>v1.2</span>
              </label>
              <label class="label-radio" v-if="user_setting.custom_pallete">
                <input type="radio" name="color_pallete" value="custom" v-model="user_setting.pallete" v-on:change="changePallete()">
                <span>Своя палитра</span>
              </label>
            </div>


            <div class="list-container">
              <div class="list">
                <input type="color" id="primary_color" class="field-radio" name="primary-color" v-model="scheme.primary" v-on:change="changeColor()">
                <input type="text" class="field-radio" v-model="scheme.primary" v-on:change="changeColor()">
                <label for="primary_color" class="field-label">
                  <span>Основной цвет приложения</span>
                  <span>Используется для кнопок, ссылок и полоски аниме.</span>
                </label>
              </div>

              <div class="list">
                <input type="color" id="accent_color" class="field-radio" name="accent-color" v-model="scheme.accent" v-on:change="changeColor()">
                <input type="text" class="field-radio" v-model="scheme.accent" v-on:change="changeColor()">
                <label for="accent_color" class="field-label">
                  <span>Акцентирующий цвет приложения</span>
                  <span>Используется для подсветки важных элементов и полоски манги.</span>
                </label>
              </div>
            </div>

            <div class="divider"></div>
            <h4>Цвет ссылок</h4>

            <div class="list-container">
              <div class="list">
                <input type="color" id="link_normal" class="field-radio" name="link-normal" v-model="scheme.link_normal" v-on:change="changeColor()">
                <input type="text" class="field-radio" v-model="scheme.link_normal" v-on:change="changeColor()">
                <label for="link_normal" class="field-label">
                  <span>Цвет текста ссылки по умолчанию</span>
                  <span>Используется для ссылок в тексте, упоминаний, спойлеров и некоторых других элементов.</span>
                </label>
              </div>

              <div class="list">
                <input type="color" id="link_hover" class="field-radio" name="link-hover" v-model="scheme.link_hover" v-on:change="changeColor()">
                <input type="text" class="field-radio" v-model="scheme.link_hover" v-on:change="changeColor()">
                <label for="link_hover" class="field-label">
                  <span>Цвет ссылки при наведении</span>
                  <span></span>
                </label>
              </div>

              <div class="list">
                <input type="color" id="link_active" class="field-radio" name="link-active" v-model="scheme.link_active" v-on:change="changeColor()">
                <input type="text" class="field-radio" v-model="scheme.link_active" v-on:change="changeColor()">
                <label for="link_active" class="field-label">
                  <span>Цвет ссылки при нажатии</span>
                  <span></span>
                </label>
              </div>
            </div>

            <div class="divider"></div>
            <h4>Меню сайта</h4>

            <div class="list-container">
              <div class="list">
                <input type="color" id="menu_color" class="field-radio" name="menu-color" v-model="scheme.menu_background" v-on:change="changeColor()">
                <input type="text" class="field-radio" v-model="scheme.menu_background" v-on:change="changeColor()">
                <label for="menu_color" class="field-label">
                  <span>Цвет меню:</span>
                  <span>По умолчанию используется стандартный цвет. Цвет подменю настраивается автоматически.</span>
                </label>
              </div>
            </div>
          </div>

          <div class="divider" style="height: 1px;"></div>
          <input type="checkbox" id="extra_settings" class="field-checkbox" name="extra">
          <label for="extra_settings" class="field-switch secondary-action"></label>
          <h3>
            <label for="extra_settings">Дополнительные настройки</label>
          </h3>


          <fieldset class="extra-settings">
            <p class="text-hint">Не меняйте цвет фонов и текста без необходимости. Цвета подобраны в соответствии с гайдлайном и являются наиболее подходящими для чтения в любых условиях. Подробнее ознакомится с цветами можно по сслыке: <a href="//material.io/guidelines/style/color.html#color-color-system">material.io</a>.</p>
            <h4>Фоны</h4>

            <div class="list-container">
              <div class="list">
                <input type="color" id="background_color" class="field-radio" name="background-color" v-model="scheme.background">
                <input type="text" class="field-radio" v-model="scheme.background">
                <label for="background_color" class="field-label">
                  <span>Фон сайта</span>
                  <span>Используется для фона сайта, страницы и полупрозрачных элемнтов на странице.</span>
                </label>
              </div>

              <div class="list">
                <input type="color" id="background_dialog" class="field-radio" name="background-dialog" v-model="scheme.background_dialog">
                <input type="text" class="field-radio" v-model="scheme.background_dialog">
                <label for="background_dialog" class="field-label">
                  <span>Фон диалогов</span>
                  <span>Используется для выделения важных элементов на странице.</span>
                </label>
              </div>

              <div class="list">
                <input type="color" id="grey_100" class="field-radio" name="grey-color" v-model="scheme.Grey100">
                <input type="text" class="field-radio" v-model="scheme.Grey100">
                <label for="grey_100" class="field-label">
                  <span>Серый 100</span>
                  <span>Кто знает что делает этот цвет?</span>
                </label>
              </div>

              <div class="list">
                <input type="color" id="background_normal" class="field-radio" name="background-normal" v-model="scheme.background_normal">
                <input type="text" class="field-radio" v-model="scheme.background_normal">
                <label for="background_normal" class="field-label">
                  <span>Фон области</span>
                  <span>Используется для цитат, полей ввода, некоторых кнопок.</span>
                </label>
              </div>

              <div class="list">
                <input type="color" id="background_hover" class="field-radio" name="background-hover" v-model="scheme.background_hover">
                <input type="text" class="field-radio" v-model="scheme.background_hover">
                <label for="background_hover" class="field-label">
                  <span>Фон области при наведении</span>
                  <span>Используется для цитат, полей ввода, некоторых кнопок.</span>
                </label>
              </div>

              <div class="list">
                <input type="color" id="background_active" class="field-radio" name="background-active" v-model="scheme.background_active">
                <input type="text" class="field-radio" v-model="scheme.background_active">
                <label for="background_active" class="field-label">
                  <span>Фон области при нажатии</span>
                  <span>Используется для цитат, полей ввода, некоторых кнопок.</span>
                </label>
              </div>

              <div class="list">
                <input type="color" id="button_hover" class="field-radio" name="button-hover" v-model="scheme.button_hover">
                <input type="text" class="field-radio" v-model="scheme.button_hover">
                <label for="button_hover" class="field-label">
                  <span>Фон кнопок при наведении</span>
                  <span>Некоторых кнопки при наведении.</span>
                </label>
              </div>

              <div class="list">
                <input type="color" id="border_color" class="field-radio" name="border-color" v-model="scheme.border">
                <input type="text" class="field-radio" v-model="scheme.border">
                <label for="border_color" class="field-label">
                  <span>Цвет границ элементов</span>
                  <span>Используется для границ элементов.</span>
                </label>
              </div>
            </div>

            <div class="divider"></div>
            <h4>Цвет текста</h4>

            <div class="list-container">
              <div class="list">
                <input type="color" id="text_primary" class="field-radio" name="text-primary" v-model="scheme.text_primary">
                <input type="text" class="field-radio" v-model="scheme.text_primary">
                <label for="text_primary" class="field-label">
                  <span>Цвет основной информации</span>
                  <span>Используется для заголовков, описаний, комментариев и прочего.</span>
                </label>
              </div>

              <div class="list">
                <input type="color" id="text_secondary" class="field-radio" name="text-secondary" v-model="scheme.text_secondary">
                <input type="text" class="field-radio" v-model="scheme.text_secondary">
                <label for="text_secondary" class="field-label">
                  <span>Цвет дополнительной информации</span>
                  <span>Используется для дополняющего текста, подзаголовков и прочего.</span>
                </label>
              </div>

              <div class="list">
                <input type="color" id="text_hint" class="field-radio" name="text-hint" v-model="scheme.text_hint">
                <input type="text" class="field-radio" v-model="scheme.text_hint">
                <label for="text_hint" class="field-label">
                  <span>Цвет подсказок</span>
                  <span>Используется для подсказок к основному тексту.</span>
                </label>
              </div>

              <div class="list">
                <input type="color" id="text_disabled" class="field-radio" name="text-disabled" v-model="scheme.text_disabled">
                <input type="text" class="field-radio" v-model="scheme.text_disabled">
                <label for="text_disabled" class="field-label">
                  <span>Цвет выключенного текста</span>
                  <span>Используется для информационного текста и небольших подсказок.</span>
                </label>
              </div>
            </div>
          </fieldset>

          <button type="submit" id="create_css" class="btn btn-raised btn-primary btn-disabled" disabled>Создать тему</button>
          <span class="text-hint" v-if="isFileLoading">{{ text.fileLoading }}</span>
        </form>


        <div v-show="isCompiled">
          <h2 class="display1">Ваш код</h2>
          <div class="field">
            <label for="output_css" class="label-radio">Скопируйте этот код в настройки вашего профиля:</label>
            <div class="field-textarea">
              <textarea id="output_css" rows="5"></textarea>
              <div class="divider"></div>
            </div>

            <div id="copy_css" class="btn btn-raised btn-primary" v-on:click.prevent="copyTheme">Скопировать код</div>
            <span class="text-hint" v-show="isCopyUnsupport">Чтобы выделить весь текст нажмите на поле ввода сверху, а затем на [Ctrl]+[A].</span>
          </div>
        </div>


        <h2 class="display1">Превью</h2>
        <div id="vue_preview" class="shiki-preview">
          <div class="shiki-preview__body" v-bind:class="{ scheme_dark }" v-bind:style="{ backgroundColor: scheme.background, backgroundImage: 'url(' + user_background + ')' }">
            <div class="shiki-preview__menu" v-bind:style="{ backgroundColor: scheme.menu_background }"></div>
            <div class="shiki-preview__page" v-bind:style="{ backgroundColor: scheme.background }">
              <div class="shiki-preview__cover" v-bind:class="{ cover_display }" v-bind:style="{ backgroundImage: 'url(' + user_cover + ')' }"></div>
              <div class="shiki-preview__profile">
                <div class="shiki-preview__avatar" v-bind:style="{ backgroundImage: 'url(' + user_avatar + ')' }"></div>
                <div class="shiki-preview__block block-h1"></div>
              </div>
              <div class="shiki-preview__list clearfix">
                <div class="shiki-preview__block"></div>
                <div class="shiki-preview__list-anime color-primary" v-bind:style="{ backgroundColor: scheme.primary }"></div>
                <div class="shiki-preview__block"></div>
                <div class="shiki-preview__list-manga color-accent" v-bind:style="{ backgroundColor: scheme.accent }"></div>
              </div>
              <div class="clearfix"></div>
              <div class="shiki-preview__button color-primary" v-bind:style="{ backgroundColor: scheme.primary }"></div>
            </div>
          </div>
        </div>
        <span class="field-hint">Условный вид профиля без адаптации для мобильных телефонов.</span>

        <div class="notify" v-bind:class="{ loading: isCreating, notify_show: isNotify }"><span></span>{{ text.notify_message }}</div>
      </div>
    </div>
    <script src="//cdnjs.cloudflare.com/ajax/libs/sass.js/0.10.4/sass.worker.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/sass.js/0.10.4/sass.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/vue/2.3.4/vue.min.js"></script>
    <script src="./src/js/common.js"></script>
  </body>