<!DOCTYPE html>
<html lang="ru" data-env="beta" style="background: #FAFAFA; color: #212121; font-size: 16px;">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google-site-verification" content="8xlW8M1Ln8KMWkopmPWTEuJqaaqpDixWDmJJ9vPgBG8">
    <meta name="theme-color" content="#009688">
    <title>Сборщик shiki-theme</title>
    <meta name="description" content="Сборщик CSS темы для Шикимори.">
    <link rel="stylesheet" href="./src/css/common.css">
  </head>
  <body>
    <div id="page" class="page">
      <header class="topbar">
        <input type="checkbox" id="topbar_menu">
        <div class="menubar">
          <label for="topbar_menu" class="md-icon ic-menu"></label>
          <h1 class="topbar-title">Сборщик</h1>
        </div>
        <label for="create_css" class="md-fab" v-bind:class="{ hidden: status.isFileLoading }">
          <span class="md-icon ic-done"></span>
        </label>
        <label for="topbar_menu" class="shade"></label>
        <nav>
          <a href="#nav_settings">Настройка темы</a>
          <a href="#nav_code" v-show="status.isCompiled">Готовый стиль</a>
          <a href="#nav_preview">Предпросмотр</a>
          <a href="#nav_faq">FAQ</a>
          <a href="#nav_guideline">Переменные</a>
          <hr class="md-divider">
          <a href="https://github.com/grin3671/shiki-theme" class="btn btn-icon icon-github">Код на GitHub.com</a>
          <a href="https://shikimori.org/grin3671" class="btn btn-icon icon-author">Профиль автора</a>
        </nav>
      </header>



      <section id="nav_settings" class="content">
        <h2 class="display1">Настройка темы</h2>
        <p>Настройте тему, а затем нажмите желтую кнопку, чтобы начать сборку темы. Когда она будет завершена, вы сможете скопировать готовый код секцией ниже.</p>
        <form action="/" @submit.prevent="createTheme" class="md-container">
          <div class="md-list">
            <span class="md-list_title inactive" id="label_user_cover">
              <span class="md-icon ic-flip"></span>Вид профиля
            </span>
            <span class="md-list_content md-control_group" role="radiogroup" aria-labelledby="label_user_cover">
              <label class="md-control">
                <input type="radio" name="type" value="cover" v-model="user.selected_layout">
                <span class="md-radio"></span>
                <span>С обложкой</span>
              </label>
              <label class="md-control">
                <input type="radio" name="type" value="simple" v-model="user.selected_layout">
                <span class="md-radio"></span>
                <span>Без обложки</span>
              </label>
            </span>
          </div>


          <div class="md-list" v-if="user.selected_layout == 'cover'">
            <label for="user_id" class="md-list_title inactive required">
              <span class="md-icon ic-user"></span>Ваш ID <a href="#how_find_my_id" title="Как узнать мой ID?" class="question">?</a>
            </label>
            <span class="md-list_content">
              <div class="md-input fullwidth">
                <input type="text" id="user_id" name="id" @change="setId" v-model="user.user_id" required aria-describedby="hint_cover_url" placeholder="8764532">
                <div class="md-divider"></div>
                <span class="md-input_hint" id="hint_cover_url">Вставьте сюда URL вашей аватарки на сайте <a href="https://shikimori.org">shikimori.org</a></span>
              </div>
            </span>
          </div>


          <div class="md-list" v-if="user.selected_layout == 'cover'">
            <label for="user_cover" class="md-list_title inactive" :class="{ error: errors.user_cover }">
              <span class="md-icon ic-image"></span>Обложка профиля
            </label>
            <span class="md-list_content">
              <div class="md-input fullwidth" :class="{ error: errors.user_cover }">
                <input type="text" id="user_cover" name="cover" @change="checkImage" v-model="user.user_cover" placeholder="https://image.ibb.co/gT5kZJ/bd8W6VB.jpg">
                <div class="md-divider"></div>
                <span class="md-input_error">Вставьте прямую ссылку на изображение, заканчивающуюся на .jpg или .png</span>
                <span class="md-input_hint">Используйте хостинги картинок для получения прямых ссылок</span>
              </div>
            </span>
          </div>


          <div class="md-list">
            <label for="user_background" class="md-list_title inactive" :class="{ error: errors.user_background }">
              <span class="md-icon ic-wallpaper"></span>Фон сайта
            </label>
            <span class="md-list_content">
              <div class="md-input fullwidth" :class="{ error: errors.user_background }">
                <input type="text" id="user_background" name="background" @change="checkImage" v-model="user.user_background" placeholder="https://image.ibb.co/gT5kZJ/bd8W6VB.jpg">
                <div class="md-divider"></div>
                <span class="md-input_error">Вставьте прямую ссылку на изображение, заканчивающуюся на .jpg или .png</span>
                <span class="md-input_hint">Используйте хостинги картинок для получения прямых ссылок</span>
              </div>
            </span>
          </div>


          <input type="checkbox" id="color_settings" class="field-checkbox" name="extra">
          <div class="md-list collapsed">
            <label for="color_settings" class="md-list_title inactive">
              <span class="md-icon ic-pallete"></span>Цветовая палитра
            </label>
            <label for="color_settings" class="md-list_control md-icon ic-collapse"></label>
            <span class="md-list_content">
              <span class="md-list_content-placeholder">Текущая палитра: {{ user.selected_pallete }}</span>
            </span>
          </div>
          <div class="md-list_hidden color-settings">
            <p class="text-hint">Цветовая палитра состоит из основного и акцентирующего цвета. Основной цвет приложения – наиболее часто встречающийся цвет на сайте, а акцентирующий используется для выделения важных элементов. Ознакомится с системой цветов можно на сайте: <a href="//material.io/guidelines/style/color.html#color-color-system">material.io</a>.</p>

            <h4>Готовые палитры</h4>
            <div class="md-control_group">
              <color-pallete v-for="(pallete, index) in color_pallete"
                v-if="index != 'custom'"
                :name="pallete.name"
                :value="index"
                :key="index">
              </color-pallete>
              <color-pallete v-if="$root.user.hasPallete" value="custom" :key="'custom'">Своя</color-pallete>
            </div>

            <h4>Цвета палитры</h4>
            <div class="md-container">
              <color-variable v-if="variables.pallete"
                :variable="variables.pallete.color_primary"
                :index="'color_primary'"
              ></color-variable>
              <color-variable v-if="variables.pallete"
                :variable="variables.pallete.color_accent"
                :index="'color_accent'"
              ></color-variable>
            </div>

            <div class="md-container">
              <color-variable v-if="variables.pallete"
                :variable="variables.pallete.color_link"
                :index="'color_link'"
              ></color-variable>
              <color-variable v-if="variables.pallete"
                :variable="variables.pallete.color_link_hover"
                :index="'color_link_hover'"
              ></color-variable>
              <color-variable v-if="variables.pallete"
                :variable="variables.pallete.color_link_active"
                :index="'color_link_active'"
              ></color-variable>
            </div>

            <div class="md-container">
              <color-variable v-if="variables.pallete"
                :variable="variables.pallete.color_header_background"
                :index="'color_header_background'"
              ></color-variable>
            </div>
          </div>


          <input type="checkbox" id="extra_settings" class="field-checkbox" name="extra">
          <div class="md-list collapsed">
            <label for="extra_settings" class="md-list_title inactive" id="label_color_scheme">
              <span class="md-icon ic-scheme"></span>Цветовая схема
            </label>
            <label for="extra_settings" class="md-list_control md-icon ic-collapse"></label>
            <span class="md-list_content md-control_group" role="radiogroup" aria-labelledby="label_color_scheme">
              <color-scheme :value="'light'">Светлая</color-scheme>
              <color-scheme :value="'dark'">Темная</color-scheme>
              <color-scheme :value="'custom'" v-if="user.hasScheme">Своя</color-scheme>
            </span>
          </div>
          <div class="md-list_hidden extra-settings">
            <p class="text-hint">Не меняйте цвет фонов и текста без необходимости. Цвета подобраны в соответствии с гайдлайном и являются наиболее подходящими для чтения в любых условиях. Подробнее ознакомится с цветами можно по ссылке: <a href="//material.io/guidelines/style/color.html#color-color-system">material.io</a>.</p>

            <div class="md-container">
              <h4>Фоны</h4>
              <color-variable v-if="variables.scheme"
                :variable="variables.scheme.color_background"
                :index="'color_background'"
              ></color-variable>
              <color-variable v-if="variables.scheme"
                :variable="variables.scheme.color_background_dialog"
                :index="'color_background_dialog'"
              ></color-variable>
              <color-variable v-if="variables.scheme"
                :variable="variables.scheme.color_background_secondary"
                :index="'color_background_secondary'"
              ></color-variable>
              <color-variable v-if="variables.scheme"
                :variable="variables.scheme.color_area_normal"
                :index="'color_area_normal'"
              ></color-variable>
              <color-variable v-if="variables.scheme"
                :variable="variables.scheme.color_area_hover"
                :index="'color_area_hover'"
              ></color-variable>
              <color-variable v-if="variables.scheme"
                :variable="variables.scheme.color_area_active"
                :index="'color_area_active'"
              ></color-variable>
              <color-variable v-if="variables.scheme"
                :variable="variables.scheme.color_button_hover"
                :index="'color_button_hover'"
              ></color-variable>
              <color-variable v-if="variables.scheme"
                :variable="variables.scheme.color_border"
                :index="'color_border'"
              ></color-variable>
            </div>


            <div class="md-container">
              <h4>Цвет текста</h4>
              <color-variable v-if="variables.scheme"
                :variable="variables.scheme.color_text_primary"
                :index="'color_text_primary'"
              ></color-variable>
              <color-variable v-if="variables.scheme"
                :variable="variables.scheme.color_text_secondary"
                :index="'color_text_secondary'"
              ></color-variable>
              <color-variable v-if="variables.scheme"
                :variable="variables.scheme.color_text_hint"
                :index="'color_text_hint'"
              ></color-variable>
              <color-variable v-if="variables.scheme"
                :variable="variables.scheme.color_text_disabled"
                :index="'color_text_disabled'"
              ></color-variable>
            </div>
          </div>


          <input type="checkbox" id="theme_files" class="field-checkbox" name="files">
          <div class="md-list collapsed">
            <label for="theme_files" class="md-list_title inactive">
              <span class="md-icon ic-build"></span>Файлы темы
            </label>
            <label for="theme_files" class="md-list_control md-icon ic-collapse"></label>
            <span class="md-list_content">
              <span class="md-list_content-placeholder">Настройка шрифтов, тестовые файлы и прочее.</span>
            </span>
          </div>
          <div class="md-list_hidden theme-files">
            <p class="text-hint">Здесь вы можете включить или исключить из сборки темы отдельные файлы. Смело меняйте шрифты (названия файлов начинаются на <code>font-</code>) и тестируйте новые функции (отмечены жёлтым тегом). Остальное – на свой страх и риск.</p>
            <div class="md-container">
              <file v-for="(file, index) in file_list"
                :file="file"
                :index="index"
                :key="index"
                @change="changeFiles"
              ></file>
            </div>
          </div>


          <div class="md-list" v-if="support.file">
            <label for="user_setting" class="md-list_title inactive">
              <span class="md-icon ic-file"></span>Мои настройки
            </label>
            <span class="md-list_content">
              <span class="md-list_content-placeholder"><input type="file" id="user_setting" name="file" v-on:change="readUserFile" accept=".sass, .scss, .css"></span>
            </span>
          </div>


          <button type="submit" id="create_css" class="md-btn raised primary ie-only" disabled><span>Создать тему</span></button>
        </form>

        <hr class="md-divider">

        <p>Свои правила, в силу <a href="https://developer.mozilla.org/ru/docs/Web/Guide/CSS/Getting_Started/Cascading_and_inheritance">особенностей CSS</a>, рекомендуется указывать внизу стиля.</p>
        <p>Если у вас что-то сломалось – проверьте <a href="https://github.com/grin3671/shiki-theme/commits/gh-pages">последние обновления</a> и обновитесь, если ваша версия темы устарела. Если обновление не помогло, пожалуйста, <a href="https://shikimori.org/grin3671">сообщите мне</a> об ошибке!</p>
        <p>Поддержать разработку можно <span class="strong"><span style="color: red">Я</span>ндекс</span> Деньгами: <code>41001258665103</code></p>
      </section>



      <section id="nav_code" class="content" v-show="status.isCompiled">
        <h2 class="display1">Готовый стиль</h2>
        <div class="field">
          <label for="output_css" class="label-radio">Скопируйте этот код в настройки вашего профиля:</label>
          <div class="md-textarea code">
            <textarea id="output_css" rows="5"></textarea>
            <div class="md-divider"></div>
          </div>
          <button id="copy_css" class="md-btn raised primary" @click.prevent="copyTheme"><span>Копировать</span></button>
          <span class="text-hint" v-show="support.copy">Чтобы выделить весь текст нажмите на поле ввода сверху, а затем на [Ctrl]+[A].</span>
        </div>
      </section>



      <section id="nav_preview" class="content" v-show="status.isFileLoading == false">
        <h2 class="display1">Предпросмотр</h2>
        <div id="vue_preview" class="shiki-preview">
          <div class="shiki-preview__body" :class="{ scheme_dark: user.selected_scheme == 'dark' }" :style="{ backgroundColor: scheme.color_background, backgroundImage: 'url(' + user.user_background + ')' }">
            <div class="shiki-preview__menu" :style="{ backgroundColor: scheme.color_header_background }"></div>
            <div class="shiki-preview__page" :style="{ backgroundColor: scheme.color_background }">
              <div class="shiki-preview__cover" :class="{ cover_display: user.selected_layout == 'cover' }" :style="{ backgroundImage: 'url(' + user.user_cover + ')' }"></div>
              <div class="shiki-preview__profile">
                <div class="shiki-preview__avatar" :style="{ backgroundImage: 'url(' + user.avatar + ')' }"></div>
                <div class="shiki-preview__block block-h1"></div>
              </div>
              <div class="shiki-preview__list clearfix">
                <div class="shiki-preview__block"></div>
                <div class="shiki-preview__list-anime color-primary" :style="{ backgroundColor: scheme.color_primary }"></div>
                <div class="shiki-preview__block"></div>
                <div class="shiki-preview__list-manga color-accent" :style="{ backgroundColor: scheme.color_accent }"></div>
              </div>
              <div class="clearfix"></div>
              <div class="shiki-preview__button color-primary" :style="{ backgroundColor: scheme.color_primary }"></div>
            </div>
          </div>
        </div>
        <p>Условный вид профиля без адаптации для мобильных телефонов.</p>
      </section>



      <section id="nav_faq" class="content">
        <h2 class="display1">FAQ</h2>
        <div class="section_faq">
          <h3 id="how_find_my_id">Как узнать мой ID?</h3>
          <p>Заходите в свой профиль на сайте shikimori.org, жмете ПКМ по своей аватарке и копируйте URL картинки. Вставляете в поле для ID. При этом в предпросмотре темы вы увидите свою аватарку.</p>
          <p>
            <img src="https://i.imgur.com/90U0aki.jpg" alt="Скопировать URL аватарки"><img src="https://i.imgur.com/4axTIVE.jpg" alt="Аватарка в предпросмотре">
          </p>
          <p>Если копировать адрес картинки по какой-то причине нельзя, вы можете "Сохранить картинку как...". В поле ввода имени файла будет отображаться ваш ID.</p>
          <p>
            <img src="https://i.imgur.com/x8iJTxZ.jpg" alt="Сохранить аватарку"><img src="https://i.imgur.com/mxbEDYN.jpg" alt="ID в поле Имя файла">
          </p>
          <p>Аватарку можно использовать не только из профиля, но и из настроек, комментариев и верхнего меню.</p>
        </div>
        <div class="section_faq">
          <h3>Какого размера должна быть обложка?</h3>
          <p>Любого. Картинка сама подстроится под текущий размер обложки, при этом края могут обрезаться. Хорошо подходят изображения с соотношением сторон 16:9 (скриншоты аниме) и разрешением 1280x720.</p>
        </div>
        <div class="section_faq">
          <h3>Что делать если обложка не отображается?</h3>
          <p>Попробуйте сменить хостинг картинок. Изображение должно появиться в предпросмотре темы.</p>
        </div>
      </section>



      <section id="nav_guideline" class="content sass_guideline">
        <h2 class="display1">Переменные</h2>
        <p>Переменные можно использовать в собственном стиле, который будет подключён в сборщике перед компиляцией.</p>

        <div class="md-container">
          <input type="checkbox" id="sass_guideline" class="field-checkbox" name="sass">
          <div class="md-list collapsed">
            <label for="sass_guideline" class="md-list_title inactive">
              <span class="md-icon ic-code"></span>Переменные
            </label>
            <label for="sass_guideline" class="md-list_control md-icon ic-collapse"></label>
            <span class="md-list_content">
              <span class="md-list_content-placeholder">Список переменных с описанием из работы</span>
            </span>
          </div>
          <div class="md-list_hidden">
            <div class="md-container">
              <h4>Палитра</h4>
              <color-variable
                v-for="(variable, index) in variables.pallete"
                :variable="variable"
                :index="index"
                :key="index"
              ></color-variable>
            </div>

            <div class="md-container" v-if="false == true">
              <h4>Схема</h4>
              <div class="md-list">
                <div class="guide_pallete">
                  <input type="color" class="md-list_control" v-model="color_scheme.dark[0]" disabled>
                  <input type="text" class="md-list_control" v-model="color_scheme.dark[0]" disabled>
                </div>
                <div class="guide_pallete">
                  <input type="color" class="md-list_control" v-model="color_scheme.light[0]" disabled>
                  <input type="text" class="md-list_control" v-model="color_scheme.light[0]" disabled>
                </div>
                <label class="md-list_title">
                  <span>$color-background</span>
                </label>
              </div>
              <div class="md-list">
                <div class="guide_pallete">
                  <input type="color" class="md-list_control" v-model="color_scheme.dark[1]" disabled>
                  <input type="text" class="md-list_control" v-model="color_scheme.dark[1]" disabled>
                </div>
                <div class="guide_pallete">
                  <input type="color" class="md-list_control" v-model="color_scheme.light[1]" disabled>
                  <input type="text" class="md-list_control" v-model="color_scheme.light[1]" disabled>
                </div>
                <label class="md-list_title">
                  <span>$color-background-dialog</span>
                </label>
              </div>
              <div class="md-list">
                <div class="guide_pallete">
                  <input type="color" class="md-list_control" v-model="color_scheme.dark[2]" disabled>
                  <input type="text" class="md-list_control" v-model="color_scheme.dark[2]" disabled>
                </div>
                <div class="guide_pallete">
                  <input type="color" class="md-list_control" v-model="color_scheme.light[2]" disabled>
                  <input type="text" class="md-list_control" v-model="color_scheme.light[2]" disabled>
                </div>
                <label class="md-list_title">
                  <span>$color-background-secondary</span>
                </label>
              </div>
              <div class="md-list">
                <div class="guide_pallete">
                  <input type="color" class="md-list_control" v-model="color_scheme.dark[3]" disabled>
                  <input type="text" class="md-list_control" v-model="color_scheme.dark[3]" disabled>
                </div>
                <div class="guide_pallete">
                  <input type="color" class="md-list_control" v-model="color_scheme.light[3]" disabled>
                  <input type="text" class="md-list_control" v-model="color_scheme.light[3]" disabled>
                </div>
                <label class="md-list_title">
                  <span>$color-area-normal</span>
                </label>
              </div>
              <div class="md-list">
                <div class="guide_pallete">
                  <input type="color" class="md-list_control" v-model="color_scheme.dark[4]" disabled>
                  <input type="text" class="md-list_control" v-model="color_scheme.dark[4]" disabled>
                </div>
                <div class="guide_pallete">
                  <input type="color" class="md-list_control" v-model="color_scheme.light[4]" disabled>
                  <input type="text" class="md-list_control" v-model="color_scheme.light[4]" disabled>
                </div>
                <label class="md-list_title">
                  <span>$color-area-hover</span>
                </label>
              </div>
              <div class="md-list">
                <div class="guide_pallete">
                  <input type="color" class="md-list_control" v-model="color_scheme.dark[5]" disabled>
                  <input type="text" class="md-list_control" v-model="color_scheme.dark[5]" disabled>
                </div>
                <div class="guide_pallete">
                  <input type="color" class="md-list_control" v-model="color_scheme.light[5]" disabled>
                  <input type="text" class="md-list_control" v-model="color_scheme.light[5]" disabled>
                </div>
                <label class="md-list_title">
                  <span>$color-area-active</span>
                </label>
              </div>
              <div class="md-list">
                <div class="guide_pallete">
                  <input type="color" class="md-list_control" v-model="color_scheme.dark[6]" disabled>
                  <input type="text" class="md-list_control" v-model="color_scheme.dark[6]" disabled>
                </div>
                <div class="guide_pallete">
                  <input type="color" class="md-list_control" v-model="color_scheme.light[6]" disabled>
                  <input type="text" class="md-list_control" v-model="color_scheme.light[6]" disabled>
                </div>
                <label class="md-list_title">
                  <span>$color-button-hover</span>
                </label>
              </div>
              <div class="md-list">
                <div class="guide_pallete">
                  <input type="color" class="md-list_control" v-model="color_scheme.dark[7]" disabled>
                  <input type="text" class="md-list_control" v-model="color_scheme.dark[7]" disabled>
                </div>
                <div class="guide_pallete">
                  <input type="color" class="md-list_control" v-model="color_scheme.light[7]" disabled>
                  <input type="text" class="md-list_control" v-model="color_scheme.light[7]" disabled>
                </div>
                <label class="md-list_title">
                  <span>$color-border</span>
                </label>
              </div>
              <div class="md-list">
                <div class="guide_pallete">
                  <input type="color" class="md-list_control" v-model="color_scheme.dark[8]" disabled>
                  <input type="text" class="md-list_control" v-model="color_scheme.dark[8]" disabled>
                </div>
                <div class="guide_pallete">
                  <input type="color" class="md-list_control" v-model="color_scheme.light[8]" disabled>
                  <input type="text" class="md-list_control" v-model="color_scheme.light[8]" disabled>
                </div>
                <label class="md-list_title">
                  <span>$color-text-primary</span>
                </label>
              </div>
              <div class="md-list">
                <div class="guide_pallete">
                  <input type="color" class="md-list_control" v-model="color_scheme.dark[9]" disabled>
                  <input type="text" class="md-list_control" v-model="color_scheme.dark[9]" disabled>
                </div>
                <div class="guide_pallete">
                  <input type="color" class="md-list_control" v-model="color_scheme.light[9]" disabled>
                  <input type="text" class="md-list_control" v-model="color_scheme.light[9]" disabled>
                </div>
                <label class="md-list_title">
                  <span>$color-text-secondary</span>
                </label>
              </div>
              <div class="md-list">
                <div class="guide_pallete">
                  <input type="color" class="md-list_control" v-model="color_scheme.dark[10]" disabled>
                  <input type="text" class="md-list_control" v-model="color_scheme.dark[10]" disabled>
                </div>
                <div class="guide_pallete">
                  <input type="color" class="md-list_control" v-model="color_scheme.light[10]" disabled>
                  <input type="text" class="md-list_control" v-model="color_scheme.light[10]" disabled>
                </div>
                <label class="md-list_title">
                  <span>$color-text-hint</span>
                </label>
              </div>
              <div class="md-list">
                <div class="guide_pallete">
                  <input type="color" class="md-list_control" v-model="color_scheme.dark[11]" disabled>
                  <input type="text" class="md-list_control" v-model="color_scheme.dark[11]" disabled>
                </div>
                <div class="guide_pallete">
                  <input type="color" class="md-list_control" v-model="color_scheme.light[11]" disabled>
                  <input type="text" class="md-list_control" v-model="color_scheme.light[11]" disabled>
                </div>
                <label class="md-list_title">
                  <span>$color-text-disabled</span>
                </label>
              </div>
            </div>

            <div class="md-container">
              <h4>Вычисляемые свойства</h4>
              <color-variable
                v-for="(variable, index) in variables.calculated"
                :variable="variable"
                :index="index"
                :key="index"
              ></color-variable>
            </div>

            <div class="md-container">
              <h4>Другое</h4>
              <div class="md-list">
                <input type="text" class="md-list_control" v-model="user.user_id" disabled>
                <label class="md-list_title">
                  <span>$id</span>
                </label>
                <span class="md-list_description">Уникальный идентификатор пользователя, указанный в сборщике. Обязательное поле, если используется обложка.</span>
              </div>

              <div class="md-list">
                <input type="text" class="md-list_control fullwidth" v-model="user.user_background" disabled>
                <label class="md-list_title">
                  <span>$image-background</span>
                </label>
                <span class="md-list_description">Ссылка на фоновое изображение, указанная в сборщике.</span>
              </div>

              <div class="md-list">
                <input type="text" class="md-list_control fullwidth" v-model="user.user_cover" disabled>
                <label class="md-list_title">
                  <span>$image-cover</span>
                </label>
                <span class="md-list_description">Ссылка на изображение, используемое в профиле пользователя в качестве обложки.</span>
              </div>
            </div>
          </div>
        </div>
      </section>

      <div class="notify" :class="{ loading: status.isCreating, notify_show: status.isNotify }">
        <span></span>{{ text.notify_message }}
      </div>
      <div class="notify" :class="{ loading: status.isFileLoading, notify_show: status.isFileLoading }">
        <span></span>{{ text.fileLoading }}
      </div>
    </div>

    <script src="./vendor/sass.js/sass.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.min.js"></script>
    <script src="./src/js/common.js"></script>
  </body>
</html>
