.b-add_to_list
  min-width: 0
  margin-bottom: .5rem

  .plus,
  .edit,
  &.planned .edit,
  &.on_hold .edit,
  &.watching .edit,
  &.rewatching .edit,
  &.completed .edit,
  &.dropped .edit,
  .trigger-arrow,
  &.expanded .trigger-arrow
    @extend %material-icons

  .trigger,
  .option
    border-width: 0
    font-size: .875rem
    line-height: 1.5rem

    .text
      &:hover
        text-decoration: none

      .status-name
        overflow: hidden
        text-overflow: ellipsis

  .trigger
    display: flex
    flex-direction: row-reverse
    padding: 0
    border-radius: var(--border-rounded) // thx @bot.AkiKawasaki
    line-height: 40px

    .add-trigger,
    .edit-trigger
      display: flex
      width: 100%
      padding:  0 .5em 0 0
      border-right: 1px solid
      border-color: rgba(0,0,0,.12)
      overflow: hidden
      cursor: pointer // this element trigger function
      &:hover
        background-color: rgba(255,255,255,.08)

  &.planned .trigger,
  &.planned .option
    background: var(--color-planned)
    color: var(--color-text-primary)

  &.on_hold .trigger,
  &.on_hold .option
    background: var(--color-onhold)
    color: var(--color-text-primary)

  &.watching .trigger,
  &.watching .option
    background: var(--color-watching)
    color: var(--color-text-primary)

  &.rewatching .trigger,
  &.rewatching .option
    background: var(--color-rewatching)
    color: var(--color-text-primary)

  &.completed .trigger,
  &.completed .option
    background: var(--color-completed)
    color: var(--color-text-primary)

  &.dropped .trigger,
  &.dropped .option
    background: var(--color-dropped)
    color: var(--color-text-primary)

  .plus,
  .edit,
  .trigger-arrow
    width: 2.5rem
    height: 2.5rem
    padding: .5rem
    margin: 0
    color: inherit !important

  .plus,
  .edit
    margin-right: .5rem !important

  .plus::before
    content: 'add'

  &.planned .edit::before
    content: 'event'

  &.on_hold .edit::before
    content: 'query_builder'

  &.watching .edit::before
    content: 'play_arrow'

  &.rewatching .edit::before
    content: 'replay'

  &.completed .edit::before
    content: 'done'

  &.dropped .edit::before
    content: 'delete'

  .trigger-arrow
    position: relative
    &:hover
      background-color: rgba(255,255,255,.08)
    &::before
      content: 'arrow_drop_down'
      transition: .24s

  &.expanded .trigger-arrow
    &::before
      content: 'arrow_drop_down'
      transform: rotate(180deg)

  .expanded-options

    .option
      position: relative
      padding: 0 1rem
      font-size: .875rem
      line-height: 40px
      &::before
        content: ''
        position: absolute
        top: 0
        right: 0
        bottom: 0
        left: 0
        background: #fff
        opacity: 0
        pointer-events: none
      &:hover::before
        opacity: .08
        // background-color: lighten($color-background-dialog, 4)

      .text
        padding-left: 0


  .b-db_entry-variant-list_item > .info .b-user_rate &
    .trigger, .option
      padding: 0
      border-left-width: 0
      line-height: 2rem

      &:hover,
      &:active
        .plus, .edit, .trigger-arrow
          &::before
            color: inherit

    .plus, .edit, .trigger-arrow
      width: 2rem
      height: 2rem
      padding: .4375rem
      @extend %material-icons-18

    .plus, .edit
      margin-right: .25rem !important

    .expanded-options
      position: relative
      padding-top: 0
      margin-top: 0

      .option
        padding: 0 1rem


  .b-catalog_entry-tooltip &
    width: auto
    max-width: 224px

    .trigger, .option
      font-size: .875rem

    .trigger
      line-height: 40px

    .trigger, .add-trigger, .remove-trigger
      max-width: 224px



  .b-db_entry-variant-list_item > .info .b-user_rate &,
  .b-catalog_entry-tooltip &
    // element with only one action
    .trigger .edit-trigger
      border: 0

    // fix hover state
    form[data-method='PATCH']
      .trigger:hover
        .edit-trigger,
        .trigger-arrow
          background-color: rgba(255,255,255,.08)
