.b-ajax
  &::before
    opacity: .75

  &::after
    width: 1.5rem
    height: 1.5rem
    margin-top: -.75rem
    margin-left: -.75rem
    background: transparent
    border: .1875rem solid
    border-right-color: transparent
    border-radius: 50%
    color: var(--color-primary)
    -webkit-animation: spin 2s linear infinite
    animation: spin 2s linear infinite
    box-sizing: border-box
    pointer-events: all

.ajax-loading
  &.vk-like
    min-height: 1.5rem
