.b-block_list
  li
    padding: 0 .5rem
    margin: 0 -.5rem
    color: var(--color-text-secondary)
    font-family: inherit
    line-height: 1.5rem

    &:hover, &.selected
      background-color: var(--color-overlay-text-hovered)
      color: var(--color-text-primary)

    &:active
      background-color: var(--color-overlay-text-pressed)

    a
      color: var(--color-text-secondary)
