/* Хлебные крошки */
.b-breadcrumbs
  margin: 0
  color: $color-text-hint
  line-height: 1rem

  & > span
    &::after
      content: '»'
      color: $color-text-disabled

  a.b-link
    color: $color-text-hint
