.b-button
  @extend %md-button-flat

  // NOTE: Только внутри пользовательской разметки
  h3 &.right
    margin: 0

a.b-button
  color: var(--color-primary)

  @media (min-width: 1025px)
    &:hover
      color: var(--color-primary)

  &:active
    color: var(--color-primary)


  & + .b-js-link,
  // Кнопка отмена (Клуб > Настройки > Страницы)
  & + .cancel
    @extend %md-button-flat

// При использовании в качестве кнопок табов
.b-button[data-tab-switch]
  &:not(.active)
    background-color: var(--color-surface)
    color: var(--color-text-primary)

    &:hover
      @media screen and (min-width: 1024px)
        background-color: var(--color-surface-hover)
        color: var(--color-text-primary)

  &.active
    background-color: #4c7fa4
    color: #fff
