.b-catalog_entry-tooltip
  .inner
    a.name
      color: $color-text-primary !important
      font-size: .875rem

    .text
      margin-bottom: .5rem
      font-size: .8125rem
      line-height: 1.25rem

    .line
      font-size: .8125rem
      line-height: 1.5rem

      &.name
        margin-bottom: 0
        line-height: 1.5rem

      .key
        color: $color-text-secondary

      .value
        a
          color: $color-text-primary !important

        .tag
          padding: 0 8px
          margin: 0 4px 0 0
          background-color: $color-area-normal
          border: 0
          border-radius: $border-rounded
          color: $color-text-secondary
          font-size: 10px
          line-height: 20px
          text-transform: uppercase
          &:hover
            padding: 0 8px
            margin: 0 4px 0 0
            background-color: $color-button-hover
            color: $color-text-primary
          &:active
            background-color: $color-border

    .rating
      bottom: 0
      color: $color-text-secondary
      font-family: inherit
      font-size: 1.5rem
      line-height: 1

      .text
        margin: .5rem .5rem 0
        color: $color-text-hint
        font-size: .75rem
        line-height: 1rem

    .additional-images
      .link
        .title
          color: $color-text-secondary
