.b-catalog_entry-tooltip
  .inner
    a.name
      color: $color-text-primary !important
      font-size: .875rem

    .text
      margin-bottom: .5rem
      font-size: .875rem
      line-height: 1.5rem

    .line
      margin-bottom: .25rem
      font-size: .875rem
      line-height: 1.5rem

      &.name
        margin-bottom: 0
        line-height: 1.5rem

      .key
        color: $color-text-secondary
        font-weight: normal

    .rating
      bottom: 0
      color: $color-text-secondary
      font-family: inherit
      font-size: 1.5rem
      line-height: 1

      .text
        margin: .5rem .5rem 0
        color: $color-text-hint
        font-size: .75rem
        line-height: 1rem

    .additional-images
      .link
        .title
          color: $color-text-secondary
