.b-club
  .name-logo
    &:hover
      .name
        color: inherit

  .name
    color: var(--color-link)
    &:hover
      color: var(--color-link-hover)
    &:active
      color: var(--color-link-active)

  .info
    font-size: .75rem
    line-height: inherit

    .number
      color: var(--color-text-hint)

    .value
      color: var(--color-text-disabled)
