.b-club
  .name-logo
    &:hover
      .name
        color: inherit

  .name
    color: $color-link
    &:hover
      color: $color-link-hover
    &:active
      color: $color-link-active

  .info
    font-size: .75rem
    line-height: inherit

    .number
      color: $color-text-hint

    .value
      color: $color-text-disabled
