.b-comments
  line-height: inherit

  .comments-loader, .comments-hider, .comments-expander
    @extend %shiki-plashka

  .comments-collapser
    @extend %material-icons
    width: 2.5rem
    padding: .5rem
    margin: 0
    border: 0
    color: var(--color-link)
    font-size: 0
    line-height: 0

    &:hover
      color: var(--color-link-hover)

    &:active
      color: var(--color-link-active)

    &::before
      content: 'expand_less'
      display: block

  .comments-loaded
    &::before
      content: ''
      display: block
      position: absolute
      bottom: 0
      right: 0
      left: 3.5rem
      height: 1px
      background-color: var(--color-border)

  .faye-loader
    @extend %shiki-plashka

  .messages-postloader
    @extend %shiki-plashka
    margin-bottom: .5rem
