/* BBCode: CODE */
code
  vertical-align: middle
  padding: .5px 4px
  background-color: var(--color-overlay-text-selected)
  border-radius: 2px
  font-size: .875rem

pre[data-dynamic='code_highlight']
  margin: .5rem 0

.b-code
  padding: 1rem
  border-radius: 3px
  font-style: normal
  font-weight: normal
  line-height: 1.5
  text-align: left

  &::before
    top: 1rem
    right: 1rem

  .tooltip-details &::before
    display: none

.hljs-keyword,
.hljs-literal
  color: inherit
