.b-comments
  line-height: inherit

  .comments-loader-wrapper,
  .comments-hider,
  .comments-expander
    @extend %shiki-plashka

  .comments-loader-wrapper
    .comments-collapser
      @extend %material-icons
      width: 2.5rem
      padding: .5rem
      margin: 0
      border: 0
      color: $color-link
      font-size: 0
      line-height: 0

      &:hover
        color: $color-link-hover

      &:active
        color: $color-link-active

      &::before
        content: 'expand_less'
        display: block

  .faye-loader
    @extend %shiki-plashka

  .messages-postloader
    @extend %shiki-plashka
    margin-bottom: .5rem
