/* "Связанное" и "Авторы" аниме и манги */
.b-db_entry-variant-list_item
  position: relative
  padding: 12px 0
  margin: 0
  border: 0

  &:first-child
    padding-top: 12px

  &::before
    content: ''
    position: absolute
    right: -16px
    top: 0
    left: 56px
    height: 1px
    background-color: var(--color-border)

  .image
    img
      display: block

  & > .info
    line-height: inherit

    .line
      align-items: flex-start
      margin-bottom: .25rem
      font-size: inherit

      .key
        margin-right: .375em
        color: var(--color-text-secondary)
        font-weight: normal

      .value
        margin: 0

        & > a,
        & > div,
        & > span
          margin: 2px 4px 2px 0

    .name
      margin-bottom: 4px

      .b-link
        color: inherit
        font-size: inherit
        line-height: inherit

    .b-user_rate
      margin-top: .375rem

      // Fix morr's styles
      .b-add_to_list
        .plus::before,
        &.planned .edit::before,
        &.rewatching .edit::before
          font-size: 18px !important


// NOTE: fix devider visibility in column
.cc > .b-db_entry-variant-list_item:first-child::before,
.block > .b-db_entry-variant-list_item:first-child::before,
.block_m > .b-db_entry-variant-list_item:first-child::before
  display: none


// NOTE: fix devider position
.b-db_entry-variant-list_item::before
  right: 0
  left: 64px


// NOTE: ???
.p-db_entries-related .b-db_entry-variant-list_item
  padding: 16px 0
