.b-dialog
  @extend %shiki-comment
  padding: 0 var(--l-margin)
  margin: 0 calc(var(--l-margin) * -1)

  // !important в исходном стиле
  .time
    @media (max-width: 1024px)
      display: block !important
      padding-left: 0 !important
      font-size: .875em !important

  // Open Dialog by Click
  .to_dialog
    position: absolute
    top: 0
    right: 0
    bottom: 0
    left: 0
    margin: 0 calc(var(--l-margin) * -1)
    font-size: 0

  &:hover .to_dialog
    background-color: var(--color-overlay-text-hovered)
    z-index: 0

  img:not([alt]),
  a,
  .buttons,
  .b-new_marker,
  .b-spoiler
    position: relative
    z-index: 2

  // Сообщение-ответ
  .b-message
    margin: 0
    overflow: visible

    .inner
      position: static

      header
        img
          width: 24px
          margin: 0 12px 0 0

        .name-date
          line-height: inherit

          .time
            @media (max-width: 1024px)
              display: inline !important
              padding-left: .5em !important

    // margin bug chrome77 fixes fix
    & > .inner .body,
    & > header > .name-date
      margin-left: 0 !important

  &:not(:last-child)
    position: relative

    &::before
      content: ''
      display: block
      position: absolute
      bottom: 0
      right: 0
      left: 3.5rem
      height: 1px
      background-color: var(--color-border)
