.b-dropzone
  padding: .5rem 1rem 3rem
  background-color: var(--color-surface)
  border: 1px dashed var(--color-border)
  border-radius: var(--border-rounded)

  &:hover
    border-color: var(--color-primary)

    &::before,
    input[type=file]
      color: var(--color-text-secondary)

  &::before
    margin: .5rem 0
    color: var(--color-text-disabled)
    font-size: 14px

  .thank-you
    margin-bottom: .5rem

  input[type=file]
    bottom: 1rem
    color: var(--color-text-disabled)
