/* Формы */
.b-form
  // overflow: visible

  &::after
    // content: ''
    display: block
    // clear: both

  input[type=submit]
    @extend %md-button-raised

    &[disabled],
    &.disabled
      background-color: var(--color-text-disabled)
      box-shadow: none
      color: var(--color-text-hint) !important

  .cancel
    @extend %md-button-flat

    &:hover
      text-decoration: none

  #vue_tags_input:not(:last-child)
    margin-bottom: 24px

  &.green-form
    --color-border: hsla(120, 40%, 24%, .36)
    padding: 12px 16px
    background: hsla(120, 62%, 48%, .08)
    border: thin solid transparent
    border-color: var(--color-border)
    border-radius: var(--border-rounded)
