
.b-gallery
  .b-image
    padding: .125rem

    .controls
      margin: .125rem
      text-align: right

  .grid_sizer
    .controls
      margin-top: .375rem !important
      margin-right: .375rem !important
