.b-height_shortener
  position: relative
  padding-left: 0
  margin-top: -32px
  cursor: s-resize
  z-index: 5

  .shade
    --c-shade-bottom: var(--color-background)
    right: 0
    bottom: 0
    left: 0
    width: auto
    height: 90px
    margin-top: 0
    background-image: linear-gradient(to bottom, rgba(0,0,0,0), var(--c-shade-bottom))

    .tooltip &
      --c-shade-bottom: var(--color-background-dialog)

  .expand
    position: relative
    padding: 4px 0
    user-select: none

    &::after
      display: none

    &:hover span
      opacity: 1

    span
      display: inline-flex
      align-items: center
      vertical-align: top
      position: relative
      padding: 0 8px
      margin: 0 8px
      background: var(--color-surface-hover)
      border: 0
      border-radius: 24px
      color: var(--color-text-secondary)
      font-size: 14px
      font-weight: bold
      line-height: 24px
      transition: .16s
      opacity: .6
      z-index: 4

      @extend %material-icons
      &::before
        content: 'expand_more'
        margin: 0 4px 0 -4px
        font-size: 20px !important

    .placeholder
      top: 32px
      max-height: 90px
      z-index: 3

  // Comments
  .b-comment &
    padding-left: 56px

    .shade
      left: 56px

    @media (min-width: 768px)
      .expand
        margin-left: 0

  // PM Main page
  .b-dialog &
    padding-left: 56px

  // Old reviews (Forum-view)
  .b-critique-topic &
    padding-left: 0
    cursor: default

  .b-critique-topic.b-topic-preview > .inner &
    margin-top: 0
