/* Переключение языка описания */
.b-lang_trigger
  position: absolute
  top: -53px
  right: 0
  width: 40px
  height: 40px
  margin: 4px
  background-color: var(--color-surface)
  border-radius: 2px
  font-size: 12px
  font-weight: bold
  line-height: 40px
  text-align: center
  text-transform: uppercase
  cursor: pointer /* eventListener повешен на этот элемент */
  user-select: none

  &:hover
    background-color: var(--color-surface-hover)

  &::before, &::after
    display: none

  span
    border: 0
    color: var(--color-text-hint)

    &:hover
      color: var(--color-text-secondary)

  &:hover span
    color: var(--color-text-secondary)
