/* Списки */
.b-list
  margin: .5rem 0 1rem 2rem

  li
    margin: 0
    line-height: 1.5
    list-style-image: none
    list-style-type: disc

    + li
      margin: .5rem 0 0 0

    .b-list & + li
      margin: 0
