.b-message
  @extend %shiki-comment

  .b-anime_status_tag
    margin-right: .5rem

  header
    .broadcast-by
      display: inline-block
      vertical-align: top
      padding: 0
      margin-right: .5rem
      font-size: .875rem
      line-height: inherit
