.b-message
  @extend %shiki-comment

  .b-anime_status_tag
    vertical-align: top
    margin: 0 .5rem 0 0

  body[data-locale] & .b-new_marker
    margin-top: .25rem
    margin-left: .5rem

  header
    .broadcast-by
      display: inline-block
      vertical-align: top
      padding: 0
      margin-right: .5rem
      font-size: .875rem
      line-height: inherit
