
.b-modal
  & > .inner
    padding: 1rem 1.5rem
    background: var(--color-background-dialog)
    border-radius: .125rem
    box-shadow: 0 4px 10px 2px rgba(0, 0, 0, 0.24)

  .subheadline
    font-size: 20px
    font-weight: 400
    text-transform: none
