// Many different markers
body[data-locale] .b-abuse_marker
  @extend %shiki-marker
  color: $color-danger

body[data-locale] .b-broadcast_marker
  @extend %shiki-marker
  color: $color-warning

body[data-locale] .b-offtopic_marker
  @extend %shiki-marker
  color: $color-offtop

  &.active:hover
    color: $color-text-disabled

  &.off:hover
    color: $color-offtop

body[data-locale] .b-summary_marker
  @extend %shiki-marker
  color: $color-success

  &.active:hover
    color: $color-text-disabled

  &.off:hover
    color: $color-success

body[data-locale] .b-spoiler_marker
  @extend %shiki-marker
  color: $color-warning

body[data-locale] .b-new_marker
  @extend %shiki-marker
  display: none
  color: $color-info

  &.active:hover
    color: $color-text-disabled

  &.off:hover
    color: $color-info
