/* Источники описаний */
.b-source
  margin-top: .5rem
  margin-bottom: 1rem
  line-height: 1.5rem

  .contributors, .mal, .source
    padding: 0

    .b-user16
      margin-right: .5rem
      &::after
        display: none

    .key
      margin-right: .5em
      color: $color-text-hint
      line-height: inherit

    .val a
      color: $color-link
      &:hover
        color: $color-link-hover
      &:active
        color: $color-link-active
