/* Спойлеры */
.b-spoiler
  label
    color: $color-link
    font-size: inherit
    letter-spacing: initial

    &:hover
      color: $color-link-hover

    &:active
      color: $color-link-active

  .content
    .inner,
    .inner-prgrph
      border-color: $color-border

    .before,
    .after
      color: $color-link
      font-size: inherit
      letter-spacing: initial

    &:hover
      .before,
      .after
        color: $color-link-hover
