/* Спойлеры */
.b-spoiler
  label
    color: var(--color-link)
    font-size: inherit
    letter-spacing: initial

    &:hover
      color: var(--color-link-hover)

    &:active
      color: var(--color-link-active)

  .content
    .inner,
    .inner-prgrph
      border-color: var(--color-border)

    .before,
    .after
      color: var(--color-link)
      font-size: inherit
      letter-spacing: initial

    &:hover
      .before,
      .after
        color: var(--color-link-hover)
