.b-status-line
  margin-bottom: .5rem
  color: var(--color-text-hint)
  font-size: 14px
  line-height: 1.25rem

  .section
    &:not(:last-child)::after
      padding-right: 8px
      margin-right: 8px
      border-color: var(--color-border)

    &.about
      span.about
        padding-left: .5rem

      .b-link
        padding-left: .5rem

      .author
        padding-left: .5rem

    &.main
      & > span
        align-self: center

        &:not(:last-child)
          margin-right: 8px

    &.created_at time,
    &.changed_at time,
    &.main .comments,
    &.main .collection-size,
    &.main .is-pinned
      display: inline-flex
      align-items: center
      vertical-align: top

      @extend %material-icons
      &::before
        display: inline-block
        vertical-align: top
        padding: 0
        margin-right: 8px
        color: var(--color-text-disabled)
        font-size: 18px !important


    &.created_at time
      &::before
        content: 'create'

    &.changed_at time
      &::before
        content: 'history'

    &.main .comments
      &::before
        content: 'mode_comment'

    &.main .collection-size
      color: inherit

      &::before
        content: 'widgets'

    &.main .is-pinned
      &::before
        content: 'push_pin'
        transform: rotate(45deg)
