/* Table */
.b-table
  td
    padding: .25em 0
    line-height: 1.5

    &.num
      white-space: nowrap

  th
    color: inherit

  tr.border
    border-color: $color-border

  a
    color: $color-link

    &:hover
      color: $color-link-hover

    &:active
      color: $color-link-active
