/* Table */
.b-table
  td
    padding: .25em 0
    line-height: 1.5

    &.num
      white-space: nowrap

  th
    color: inherit

  tr.border
    border-color: var(--color-border)

  a
    color: var(--color-link)

    &:hover
      color: var(--color-link-hover)

    &:active
      color: var(--color-link-active)
