.b-to-top
  .slide::before
    width: 56px
    background: var(--color-surface)

  .arrow
    top: auto
    bottom: 4px
    width: 40px
    height: 40px
    padding: 8px
    margin: 0 8px
    border-radius: 50%
    color: var(--color-text-hint)
    font: inherit
    pointer-events: none
    transition: opacity .24s ease-in-out
    z-index: 2
    @extend %material-icons
    @extend %md-tooltip-right

    &::before
      content: 'forward'
      display: block
      transform: rotate(-90deg)

    [data-locale="ru"] &::after
      content: 'Вернуться наверх'

    [data-locale="en"] &::after
      content: 'Back to top'

  &.active
    .slide
      width: 56px

      &:hover + .arrow
        color: var(--color-text-hint)

    .arrow
      opacity: .6

    &:hover .arrow
      opacity: 1

    &:hover .arrow::after
      opacity: .9
      transform: translateX(0)
