/* Полоса загрузки. thx Dewopalaxy */
.b-upload_progress
  &.active
    height: 1.5rem

  .bar
    min-width: 0
    height: 4px
    background-color: $color-primary
    border-radius: 2px
    color: $color-text-primary
    font-size: .875rem
    text-align: left
    text-indent: 1rem
    line-height: 2rem
    overflow: visible

    &::first-letter
      text-transform: uppercase