.b-video_variant
  margin: 0 0 4px
  border-radius: 3px
  transition: .24s ease-out

  &:hover
    background-color: $color-area-hover

  &:active,
  &.active
    background-color: $color-primary

    a
      border: 0
      color: rgba($color-text-on-primary, .8)

      &:hover span
        color: $color-text-on-primary

    .video-author,
    .episode-num,
    .video-id
      color: $color-text-on-primary !important

  a
    display: block
    padding: 8px 12px
    color: inherit
    font-size: .875em

    &::after
      content: ''
      display: block
      clear: both

    &:hover
      border: 0

    &.broken,
    &.wrong,
    &.rejected,
    &.banned_hosting
      &::before
        font-size: 10px
        font-weight: bold
        line-height: 16px
        text-transform: uppercase

    span
      float: left
      color: $color-text-hint
      font-size: 10px
      font-weight: bold
      line-height: 16px
      text-transform: uppercase
      backface-visibility: hidden

      &::before,
      &::after
        color: inherit !important

    &:hover span
      color: $color-text-hint

  .video-author
    float: none
    clear: both
    display: block
    font-size: 14px
    font-weight: bold
    line-height: 20px
    text-transform: none

  .video-quality.bd,
  .video-quality.dvd
    margin: 2px 4px 2px 0

  .video-kind.english
    &::before
      left: -16px
      margin-top: 0

  .episode-num
    display: none



  // ТАКИЕ ЖЕ ВИДЕО
  .p-anime_videos-index .same-videos &
    vertical-align: top
    margin: 0 4px 0 0

    &::after
      display: none


  .c-anime_video_episodes &
    &::before
      content: attr(data-episode)
      position: absolute
      width: 32px
      height: 32px
      padding: 0
      margin: 8px 12px
      line-height: 32px
      background: rgba(0,0,0,.16)
      border-radius: 50%
      text-align: center
      font-size: 12px
      font-weight: bold
      z-index: 1
      pointer-events: none

    &.active::before
      color: $color-text-on-primary !important

    a
      padding-left: 56px

      span
        &:last-child
          clear: both
