// Дейсвтия в профиле
.profile-actions
  & > a
    @extend %md-icon
    @extend %md-icon-hover

  .mail::before
    content: 'mail'

  .talk::before
    content: 'message'

  .fav-add::before
    content: 'person_add'

  .fav-remove::before
    content: 'person'
    color: $color-accent

  .fav-remove:hover::before
    content: 'person_outline'
    color: inherit

  .ignore-add::before
    content: 'do_not_disturb_on'

  .ignore-remove::before
    content: 'do_not_disturb_off'

  .settings::before
    content: 'settings'

  .ban::before
    content: 'gavel'
