/* SVG-графики на страницах о сайте и индустрии аниме */
.highcharts-root
  .highcharts-background
    fill: var(--color-background)

  .highcharts-yaxis-grid .highcharts-grid-line,
  .highcharts-xaxis .highcharts-tick,
  .highcharts-xaxis .highcharts-axis-line
    stroke: var(--color-border)

  .highcharts-legend-item text
    color: var(--color-text-primary) !important
    fill: var(--color-text-primary) !important

  .highcharts-legend-item.highcharts-legend-item-hidden text
    color: var(--color-text-secondary) !important
    fill: var(--color-text-secondary) !important

  .highcharts-axis-labels text
    color: var(--color-text-hint) !important
    fill: var(--color-text-hint) !important

  .highcharts-text-outline
    display: none

  .highcharts-text-outline ~ tspan
    color: var(--color-text-primary) !important
    fill: var(--color-text-primary) !important



.p-statistics-index #total,
.p-statistics-index #by_kind,
.p-statistics-index #by_rating,
.p-statistics-index #by_genre,
.p-statistics-index #by_studio
  min-width: 0 !important
  overflow-x: auto

.highcharts-container
  max-width: 100%

text,
.highcharts-tooltip text tspan:last-child
  font-weight: bold
