// Вкладки
.u-tabs
  // Контейнер
  &.--vertical
    @media (min-width: 960px)
      display: flex
      border: 1px solid var(--color-border)
      border-radius: var(--border-rounded)

      // Список переключателей
      & > div:not([data-tab])
        flex-direction: column
        flex-shrink: 0
        width: 200px
        padding: 8px 0
        border-right: 1px solid var(--color-border)

      // Переключатель
      [data-tab-switch]
        padding: 8px 16px
        margin: 0
        border: 0
        border-radius: 0
        text-align: left

      // Содержимое вкладки
      [data-tab]
        flex-grow: 1
        padding: 18px 24px

  // Список переключателей
  & > div:not([data-tab])
    display: flex
    flex-direction: row
    flex-wrap: nowrap
    overflow-y: auto

  // Переключатель
  [data-tab-switch]
    display: block
    flex-shrink: 0
    min-width: 148px
    padding: 4px 14px
    margin: 8px
    border: 2px solid var(--color-border)
    border-radius: 18px
    color: var(--color-text-hint)
    font-weight: bold
    line-height: 24px
    text-align: center
    cursor: pointer
    transition: .24s ease
    user-select: none

    &:hover
      background: var(--color-overlay-text-hovered)

    &:active
      background: var(--color-overlay-primary-pressed)
      border-color: var(--color-primary)

    &.active
      background: var(--color-overlay-primary-selected)
      border-color: var(--color-primary)
      color: var(--color-primary)
      cursor: default

  // Содержимое вкладки
  [data-tab]
    padding: 12px 8px

  // Анимация переключения
  &.--ripple
    [data-tab-switch]
      position: relative
      overflow: hidden
      -webkit-tap-highlight-color: rgba(0,0,0,0)

      &::after
        content: ''
        position: absolute
        top: 50%
        left: 50%
        width: 72%
        padding-top: 72%
        background: inherit
        border-radius: 50%
        opacity: 0
        transform: translate3d(-50%, -50%, 0)
        pointer-events: none

      &:not(.active):hover::after
        animation: 1s switch-focus--vertical ease infinite

      &.active::after
        animation: switch-tap--vertical .24s cubic-bezier(0.55, 0.06, 0.68, 0.19)

@keyframes switch-focus--vertical
  0%,
  100%
    opacity: .8
    transform: translate3d(-50%, -50%, 0)

  50%
    opacity: .8
    transform: translate3d(-50%, -50%, 0) scale(0.95)


@keyframes switch-tap--vertical
  0%
    opacity: .8

  100%
    opacity: 0
    transform: translate3d(-50%, -50%, 0) scale(2.5)
