.vue-tags-input[class]
  background: transparent

  .ti-input
    padding: 0
    margin-bottom: 8px
    background: transparent
    border: 0
    color: inherit
    line-height: inherit


.ti-autocomplete[class]
  padding: 8px 0
  background: $color-background-dialog
  border: 0
  border-radius: 2px
  box-shadow: 0 2px 4px -1px rgba(0,0,0,.24)


.ti-item > div
  padding: 4px 16px !important


.ti-selected-item[class]
  background: rgba($color-text-primary, .08)
  color: inherit


.ti-tag[class]
  padding: 0 8px
  margin: 4px 8px 4px 0
  background: $color-primary
  color: $color-text-on-primary
  line-height: 32px

  &.ti-tag[class].ti-deletion-mark
    background: #ef5350
    color: #fff


.ti-new-tag-input-wrapper[class]
  padding: 0
  margin: 0
  font-size: inherit
