// Ачивки
.p-achievements-index
  .cc-achievements
    display: flex
    flex-wrap: wrap
    align-items: stretch
    align-content: stretch

  @media (min-width: 768px)
    .cc-achievements .b-achievement:nth-child(n)
      width: calc(25% - (16px * 3 / 4))
      margin-right: 16px
      margin-bottom: 16px

    .cc-achievements .b-achievement:nth-child(4n+4)
      margin-right: 0

    .cc-franchises-genres .c-genres .b-achievement:nth-child(n)
      margin-right: 16px
      margin-bottom: 16px

    .cc-franchises-genres .c-genres .b-achievement:nth-child(4n+4)
      margin-right: 0

    .cc-franchises-genres .c-genres,
    .cc-franchises-genres .c-franchises
      width: 100%

  .tipsy
    display: none !important

  .c-franchises
    .b-badge
      position: relative
      background: rgba(0,0,0, .4)
      border-radius: 3px
      overflow: hidden
      transition: .24s ease

      .no-image,
      img
        border-radius: inherit
        transition: .24s ease

      &::before
        display: block
        position: absolute
        top: auto
        right: 0
        bottom: 0
        left: 0
        width: auto
        height: auto
        padding: 12px 8px 4px
        background: linear-gradient(transparent, rgba(0,0,0,.32))
        border-radius: 0 0 3px 3px
        color: #fff
        font-size: 12px
        font-weight: bold
        line-height: 16px
        text-align: left
        text-shadow: 0 1px 2px #000, 0 0 6px rgba(0,0,0,.8)
        backface-visibility: hidden
        transition: .24s ease
        opacity: 1
        z-index: 1

      &:hover::before
        transform: translate3d(0, 100%, 0)

      &[original-title]::before
        content: attr(original-title) ", " attr(data-progress) "%"

      &[original-title].level-1::before
        content: attr(original-title)

      &[title]::before
        content: attr(title) ", " attr(data-progress) "%"

      &[title].level-1::before
        content: attr(title)

      &.level-1::before
        font-size: 16px
        line-height: 20px

      &.level-0.unavailable:not(:hover) .no-image
        opacity: .2

      &.level-0:not(:hover) .no-image,
      &.unavailable:not(:hover) .no-image
        opacity: .5

  // всплывашка
  .b-list_switchers
    .switcher
      @extend %md-tooltip
      @extend %md-tooltip-top

      &[title]::after
        content: attr(title)
        width: auto

      &[original-title]::after
        content: attr(original-title)
        width: auto

  .cc-franchises-genres
    // Фикс вылезающих за пределы страницы тултипов
    @media (max-width: 767px)
      .c-franchises
        padding: 0 16px
        margin: 0 -16px
        overflow: hidden


// TODO: replace
.b-badge .no-image
  border-radius: inherit


// TODO: merge
@supports (display: grid)
  .p-achievements-index
    .cc-achievements
      display: grid
      grid-gap: 1em
      grid-template-columns: repeat(1, 1fr)
      margin-bottom: 1em

      @media (min-width: 480px)
        grid-template-columns: repeat(2, 1fr)

      @media (min-width: 720px)
        grid-template-columns: repeat(3, 1fr)

      @media (min-width: 960px)
        grid-template-columns: repeat(4, 1fr)

      .b-achievement:nth-child(n)
        width: 100%
        margin: 0

    .cc-franchises-genres
      margin-bottom: 16px

      .c-franchises
        .cc
          display: grid
          grid-gap: 12px 16px
          grid-template-columns: repeat(2, 1fr)

          @media (min-width: 480px)
            grid-template-columns: repeat(4, 1fr)

          @media (min-width: 720px)
            grid-template-columns: repeat(6, 1fr)

          @media (min-width: 960px)
            grid-template-columns: repeat(8, 1fr)

        .b-badge
          width: 100%
          margin: 0

          &.level-1
            grid-column-end: span 2
            grid-row-end: span 2

  .p-achievements-franchise
    .cc
      display: grid
      grid-auto-flow: dense
      grid-gap: 3px 4px
      grid-template-columns: repeat(2, 1fr)

      @media (min-width: 480px)
        grid-template-columns: repeat(4, 1fr)

      @media (min-width: 720px)
        grid-template-columns: repeat(6, 1fr)

      @media (min-width: 960px)
        grid-template-columns: repeat(8, 1fr)

    .b-badge
      width: 100%
      margin: 0

      &.level-1
        grid-column-end: span 2
        grid-row-end: span 2
