// Страница редактирования
.p-clubs-edit
  .pages
    .b-button
      margin-right: .5rem

    .club_page-layout
      padding-left: 1rem
      font-size: .875rem

    .club_page-actions
      padding-left: 1rem
      font-size: .875rem

      .b-js-link
        margin-right: .5rem

// Меню
.b-clubs-menu
  .b-subposter-actions
    margin-bottom: .5rem
    line-height: inherit
