/**
 * ТУРНИРЫ
 */
.p-contests .match-container.b-ajax::after
  z-index: 10

.p-contests .b-contest_match .current-match .match-members:last-child
  margin-bottom: 0 !important

.p-contests .match-day
  position: relative
  margin-bottom: 16px
  text-align: center

.p-contests .match-day::before
  content: ''
  display: block
  position: absolute
  top: 10px
  right: 0
  left: 0
  height: 1px

.p-contests .match-day > .date
  position: relative
  display: inline-block
  padding: 0 16px
  margin-bottom: 4px
  text-align: center
  text-transform: uppercase

.p-contests .match-day > .date .from,
.p-contests .match-day > .date .to
  margin-right: 8px

.p-contests .match-day > .date .to
  margin-left: 8px

.p-contests .match-day .match-link
  padding-left: 0
  text-align: left
  &:hover, &.active
    background: $color-background-secondary
  &:active
    background-color: $color-area-normal !important // in shiki style

// NOTE: !important in main.sass (.c-column)
.p-contests .match-day .match-link .c-column
  line-height: 32px !important

// Ничья
.p-contests .match-day .match-link .draw
  padding-left: 0

  &::before
    position: static
    top: 0
    left: 0
    width: 12px
    height: 12px
    margin: 10px 4px
    margin-right: 16px

.p-contests .match-day .match-link
  .voted, .winner, .loser, .created, .started, .finished
    @extend %material-icons-18
    &::before
      display: inline-block
      vertical-align: top
      padding-right: 0
      padding-left: 0
      margin: 7px 0
      margin-right: 14px

  .created::before
    content: 'lock'
    color: $color-text-disabled
    padding-right: 0

  .winner::before
    content: 'thumb_up'

  .loser::before
    content: 'thumb_down'
    padding-right: 0

.p-contests .match-day .match-link .started::before,
.p-contests .match-day .match-link.voted-abstain .started::before
  content: 'check_box_outline_blank'
  color: #757575

.p-contests .match-day .match-link.voted-abstain .started::before
  color: $color-text-disabled

.p-contests .match-day .match-link.voted-left .started:first-child::before,
.p-contests .match-day .match-link.voted-right .started:last-child::before
  content: 'check_box'

.p-contests .match-day .match-link.voted-left .started:last-child::before,
.p-contests .match-day .match-link.voted-right .started:first-child::before
  content: 'indeterminate_check_box'

.p-contests .match-day .match-link.voted-left .started:first-child::before,
.p-contests .match-day .match-link.voted-right .started:last-child::before,
.p-contests .match-day .match-link .winner::before
  color: $color-success /* Зеленый цвет */

.p-contests .match-day .match-link.voted-left .started:last-child::before,
.p-contests .match-day .match-link.voted-right .started:first-child::before,
.p-contests .match-day .match-link .loser::before
  color: $color-danger /* Красный цвет */

.p-contests .match-day .matches-num
  display: inline-block
  width: 56px
  padding-right: 0
  font-size: 16px

.p-contests-show .cc-round_stats > .c-column:first-child:last-child > .block:last-child
  padding: 4px 0

.p-contests-show .warning
  margin-top: 0
  margin-bottom: 16px

.p-contests .rating .member
  height: auto

.p-contests-users .subheadline a:hover
  background: none

.p-contests .b-contest_match .votes-percents
  border-radius: 4px
  font-size: 14px
  line-height: 24px

.p-contests .b-contest_match .votes-percents span
  float: left
  position: relative
  white-space: nowrap
  z-index: 1

.p-contests .b-contest_match .votes-percents .left-part
  position: relative
  border-radius: inherit
  padding-left: 8px
  background-color: $color-accent
  &:hover
    background-color: $color-accent

.p-contests .b-contest_match .votes-percents .left-part > span
  color: $color-text-on-accent

.p-contests .b-contest_match .votes-percents .right-part
  position: absolute
  top: 0
  right: 0
  padding-right: 8px
  background-color: $color-primary
  border-color: $color-primary

.p-contests .b-contest_match .votes-percents .right-part span
  float: right
  color: $color-text-on-primary

.p-contests .b-contest_match .votes-percents .left-part,
.p-contests .b-contest_match .votes-percents .right-part
  height: auto

.p-contests .b-contest_match .votes-percents .right-part::before
  left: -24px
  border-right-width: 24px
  border-top-width: 48px

.p-contests .b-contest_match .votes-percents .left-part:hover .right-part
  background-color: $color-primary
  border-color: $color-primary

.p-contests .b-contest_match .votes-percents .left-part:hover .right-part::before
  border-right-width: 24px

.p-contests .b-contest_match .votes-percents .right-part::before,
.p-contests .b-contest_match .votes-percents .left-part:hover .right-part::before
  border-right-color: inherit

.p-contests .results .cc-result .c-rounds .label
  color: $color-text-secondary
  font-size: .875rem

.p-contests .results .cc-result .c-rounds .match-day::before
  display: none

.p-contests .results .cc-result .c-rounds .match-day .match
  padding-bottom: 0
  line-height: 32px
  text-align: left

.p-contests .results .cc-result .c-rounds .match-link
  display: inline-block

/* Убираем желтое свечение постеров */
.b-contest_match .current-match .match-members .match-member > .b-catalog_entry.yellow-fade
  background: transparent
  outline-color: transparent

/* BUG: font-size нужно указать внутри соответствующего элемента */
@media (min-width: 768px)
  .b-contest_match .vs
    font-size: inherit

  .b-contest_match .vs .label
    font-family: inherit
    font-size: 64px

/* Мобильная версия */
@media (max-width: 480px)
  .b-contest_match .vs .vote-abstained[style = 'display: none;'] ~ .thanks
    display: none !important

@media (max-width: 1024px)
  .p-contests .match-day .match-link .c-column
    text-overflow: ellipsis
    white-space: nowrap
    overflow: hidden

  .p-contests .match-day .match-link .draw::before,
  .p-contests .match-day .match-link .loser::before,
  .p-contests .match-day .match-link .winner::before
    display: none

  .p-contests .match-day .matches-num
    width: auto
    padding: 0 4px
    margin-right: 8px
    border-radius: 2px
    color: #FFF
    font-size: 12px
    line-height: 20px

  .p-contests .match-day .draw .matches-num
    background-color: $color-info

  .p-contests .match-day .loser .matches-num
    background-color: $color-danger

  .p-contests .match-day .winner .matches-num
    background-color: $color-success


.p-contests .contest-match .vs .refrain,
.p-contests .contest-match .votes-percents,
.p-contests .contest-match .vs > div:first-child,
.p-contests .contest-match .vs .next
  font-weight: bold


// New
.b-contest_match
  display: flex
  padding: 1em 0
  margin-bottom: 0

  // Исправление отступов для завершенных турниров
  &[data-model *= 'finished']
    @media (max-width: 767px)
      .current-match .match-members
        padding-top: 56px

      .vs .hint
        top: 4px

  .prev-match,
  .next-match
    @extend %material-icons
    display: flex
    width: auto
    height: auto
    max-height: 288px
    padding: 8px
    margin: 4px 8px 4px 0
    border-radius: 2px
    color: $color-text-hint
    &:hover
      color: $color-text-secondary

    &::before
      height: 1em
      margin: auto

    @media (max-width: 767px)
      position: absolute
      left: 0
      z-index: 2

      &:hover
        background-color: $color-button-hover

    @media (min-width: 768px)
      &:hover
        background-color: transparent

      &::before
        border-radius: 50%
        font-size: 48px !important

      &:hover::before
        background-color: $color-button-hover

  .prev-match
    &::before
      content: 'chevron_left'

  .next-match
    order: 1
    margin: 4px 0 4px 8px
    @media (max-width: 767px)
      right: 0
      left: auto

    &::before
      content: 'chevron_right'

  .current-match
    flex-grow: 1
    @media (max-width: 767px)
      clear: both
      padding: 0

    .match-members
      display: flex
      line-height: inherit
      @media (max-width: 767px)
        padding-top: 96px
        margin-bottom: 1em

      .match-member:last-child
        margin-left: auto

  .match-member
    @media (max-width: 480px)
      float: left
      position: relative
      width: 48%
      z-index: 2

      &:last-child
        float: right

  .vs
    margin: auto

    // Иконка VS
    .label
      @media (max-width: 480px)
        display: inline-block
        position: absolute
        top: 60px
        right: 0
        bottom: 0
        left: 0
        width: 72px
        height: 72px
        margin: auto
        background: $color-background
        border-radius: 100%
        font-size: 24px
        line-height: 72px
        text-transform: uppercase
        z-index: 6

    .invitation,
    .vote-voted,
    .vote-abstained,
    .thanks,
    .hint,
    .not-selected
      padding: 0
      margin-bottom: 1em
      font-size: .875em
      line-height: inherit
      @media (max-width: 767px)
        position: absolute
        top: 52px
        right: 0
        left: 0
        font-size: 1rem
        line-height: 40px
        margin: 0

    .thanks
      @media (max-width: 767px)
        top: 4px

    .actions
      line-height: 0
      @media (max-width: 767px)
        position: absolute
        top: 0
        left: 0
        right: 0

      .action
        display: inline-block
        vertical-align: top
        padding: 0
        margin: 0

        &:nth-child(2)
          margin-left: 1em

        span
          @extend %md-button-flat

      @media (max-width: 480px)
        .action:nth-child(2)
          display: none

  .match-losers
    @media (max-width: 480px)
      display: block
      padding: 0
