/**
 * Dashboard Layout
 * Изменение положения блоков на главной странице
 */
.p-dashboards-show
  .cc-second
    .cc-inner
      display: none

    & > .c-forum
      @media (min-width: 480px) and (max-width: 767px)
        width: 100%

        .b-forums,
        .contests
          float: left
          width: 48%

        .b-forums
          margin-right: 4%

    @media (min-width: 768px)
      float: right
      width: 30.33333%
      margin-bottom: 0

      & > .cc-inner
        display: block
        float: none
        width: 100%
        margin: 0

        & > .c-content,
        & > .c-my_list
          float: none
          width: 100%
          padding: 0

      & > .c-forum
        float: none
        width: 100%

        & > .b-forums,
        & > .block:last-child
          margin-bottom: 1.5rem

      .cc-inner
        display: none

    @media screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait)
      width: 37%

    @media (max-width: 767px)
      margin-bottom: .5rem


  .c-my_list
    padding: 0
    background: initial
    border: none

    .title
      @extend %headline

      .switch, .link
        float: right


  // Изменение новостей на главной
  .cc-news
    .c-news_topics
      line-height: inherit

      .b-topic
        margin-bottom: 0
        border-top-width: 0

        & > .inner
          padding: 8px 0 24px

          header
            .name-date
              padding-right: 0

        &:first-child > .inner
          padding-top: 0

        .name-date a
          padding: 0 0 .25rem
          font-size: 22px !important
          font-weight: 400 !important
          line-height: 1.5
          white-space: normal

        .b-anime_status_tag
          display: none

    .c-generated_news
      line-height: inherit

      .b-topic
        border-color: var(--color-border)

        .name-date a
          font-size: 16px !important


  // Change Forum Button
  .b-forums > .b-link_button.maxi
    position: relative
    margin-bottom: 0
    background-color: transparent
    font-size: 0 !important
    line-height: 0
    text-align: left
    text-transform: uppercase
    overflow: visible

    &::after
      content: 'Форум'
      @extend %md-button
      min-width: 0
      margin-left: -1rem
      color: var(--color-primary) !important

    &:hover::after,
    &:focus::after
      background-color: var(--color-overlay-primary-hovered)

    &:active::after
      background-color: var(--color-overlay-primary-pressed)

  &[data-locale='en']
    .b-forums > .b-link_button.maxi::after
      content: 'Forum'


  // Ссылки на текущие турниры
  .contests .contest
    margin: 0 -.5rem

    &:hover
      background-color: var(--color-overlay-text-hovered)

    a
      display: block
      padding: 0 .5rem
      color: var(--color-text-primary) !important
      font-size: .875rem
      line-height: 2rem
      text-overflow: ellipsis
      white-space: nowrap
      overflow: hidden

      &:hover
        text-decoration: none


.block2,
.contests.block
  margin-bottom: 1.5rem
  line-height: 1.5rem



// Изменения 2019-10-18
.p-dashboards-show .v2
  .b-news_wall-topic
    &::before
      display: none

    .b-status-line
      .section.additional
        padding-left: 1em
        white-space: nowrap

  .generated-news
    .subheadline
      margin-bottom: 0 !important

  .generated-news-line
    position: relative
    min-height: 66px
    padding: 8px 0
    margin: 0

    &:not(:nth-child(2))::after
      content: ''
      position: absolute
      right: 48px
      top: 0
      left: 0
      height: 1px
      background: var(--color-border)

    .poster
      padding-left: 16px

    .info
      .name
        margin-bottom: 4px
        color: var(--color-text-primary)
        line-height: 1.5

      .status-time
        margin-bottom: 4px

        .kind
          margin-right: 8px
          color: var(--color-text-secondary)
          font-size: 12px

        .b-anime_status_tag
          margin: 0 8px 0 0

        .time
          color: var(--color-text-hint)
          font-size: 12px

      .genres
        .b-tag
          padding: 2px 0 !important
          margin: 0 8px 0 0

  // Больший отступ между кучей ссылок и первым блоком новостей
  .block + .block2
    margin-top: 24px

  .headline
    padding: 8px 16px
    margin: 8px -16px

    & > a
      padding: 6px 16px
      margin: -2px -16px
      color: var(--color-primary) !important

    .buttons
      .options
        @extend %md-icon
        @extend %md-icon-hover
        &::before
          content: 'tune'

  .sections
    @media (min-width: 768px)
      margin: 0 -24px

      .section
        padding: 0 24px

      &:last-child
        margin-top: 1em

    .title
      color: var(--color-text-hint)

    a.title
      color: var(--color-text-primary)

    .seasons
      margin: -4px

      .season
        padding: 4px

    .shiki-socials
      margin-top: 1em

    .b-link_button
      margin-bottom: 0

      span
        line-height: 1

    @media (max-width: 480px)
      &.main .section:first-child
        margin-bottom: 88px

      &.other .seasons
        right: 0
        left: 0
        margin-top: -259px

      .section
        padding: 8px 0

        .b-link_button.maxi
          padding: 0 8px

