// Действия с почтой
.p-dialogs .misc-links
  position: absolute
  top: 56px
  right: 0
  margin: 0

  & > a
    @extend %md-icon
    @extend %md-icon-hover
    @extend %md-tooltip
    @extend %md-tooltip-left
    position: relative
    font-size: 0
    line-height: 0

    &::before
      content: 'low_priority'
      transform: scale(-1, 1)

    &::after
      content: 'Непрочитанные начиная со старых'
      color: #eee // недостаточный вес селектора; цвет текст в подсказке

.p-dialogs[data-locale='en'] .misc-links > a::after
  content: 'Unread messages from oldest one'
