.p-profiles-favorites
  .item-back
    @extend %md-icon
    @extend %md-icon-hover
    &::before
      content: 'done'

  .cc-favourites.sortable
    .b-catalog_entry
      @extend %material-icons
      &::before
        content: 'reorder'
        top: .25em
        right: .25em
        padding: 4px
        background: var(--color-background-translucent)
        color: var(--color-text-hint)
        box-shadow: none

      @media (min-width: 1025px)
        &:hover::before
          color: var(--color-text-primary)

      &:active::before
        color: var(--color-text-primary)
    
    &.draggable .b-catalog_entry
      &:before
        color: var(--color-text-hint) !important
