/* Страница истории пользователя */
.p-user_history-index
  .history-page
    .mischeadline
      margin-bottom: 0

    .history-interval
      margin-bottom: .5rem

      p
        margin-bottom: 0
        line-height: 1.5rem
        &:hover
          background-color: $color-area-normal

        a
          color: $color-link
          &:hover
            color: $color-link-hover
          &:active
            color: $color-link-active

        .date
          color: $color-text-hint
