/* Страница истории пользователя */
.p-user_history-index
  .history-page
    .mischeadline
      margin-bottom: 0

    .history-interval
      margin-bottom: .5rem

      p
        padding: 4px 0
        margin-bottom: 0
        line-height: 1.5rem

        a
          color: var(--color-link)
          &:hover
            color: var(--color-link-hover)
          &:active
            color: var(--color-link-active)

        .date
          color: var(--color-text-hint)

        .destroy
          position: relative
          width: auto
          padding: 6px
          margin: -4px 0 -4px 4px
          border-radius: var(--border-rounded)
          color: var(--color-text-hint)
          transition: .16s cubic-bezier(.4, 0, .6, 1)
          &:hover
            background: var(--color-overlay-text-hovered)
            color: var(--color-text-secondary)
            text-decoration: none

          @extend %material-icons
          &::before
            content: 'delete'
            font-size: 20px !important

          @extend %md-tooltip
          @extend %md-tooltip-left
          &::after
            content: 'Удалить'
            margin: 0 .75rem
