:root {
  /* Цвет текстов */
  --color-text-primary: #e4e4e4;
  --color-text-secondary: #bdbdbd;
  --color-text-hint: #a0a0a0;
  --color-text-disabled: #7f7f7f;
  --color-overlay-text-hovered: rgba(228, 228, 228, 0.04);
  --color-overlay-text-selected: rgba(228, 228, 228, 0.08);
  --color-overlay-text-pressed: rgba(228, 228, 228, 0.12);
  /* Цвет ссылок */
  --color-link: #009688;
  --color-link-hover: #FFAB40;
  --color-link-active: #FF9100;
  /* Основной цвет */
  --color-primary: #009688;
  --color-text-on-primary: #FAFAFA;
  --color-primary-reduced: #0d796f;
  --color-primary-hovered: #149e92;
  --color-primary-pressed: #009083;
  --color-overlay-primary-hovered: rgba(0, 150, 136, 0.08);
  --color-overlay-primary-selected: rgba(0, 150, 136, 0.12);
  --color-overlay-primary-pressed: rgba(0, 150, 136, 0.16);
  /* Акцентирующий цвет */
  --color-accent: #FFAB40;
  --color-text-on-accent: #212121;
  --color-accent-reduced: #c5893c;
  --color-accent-fade: #936b38;
  --color-overlay-accent-hovered: rgba(255, 171, 64, 0.08);
  --color-overlay-accent-selected: rgba(255, 171, 64, 0.12);
  --color-overlay-accent-pressed: rgba(255, 171, 64, 0.16);
  /* Фоновые цвета */
  --color-background: #303030;
  --color-background-translucent: rgba(48, 48, 48, 0.9);
  --color-surface: #3d3d3d;
  --color-surface-hover: #474747;
  --color-surface-active: #4e4e4e;
  --color-background-dialog: #3d3d3d;
  --color-border: #494949;
  /* Цвета верхнего меню */
  --color-menu-background: #333333;
  --color-menu-background-fade: rgba(51, 51, 51, 0.48);
  --color-menu-text-primary: #f2f2f2;
  --color-menu-text-disabled: #8f8f8f;
  --color-menu-icon: #c4c4c4;
  --color-menu-background-hover: #424242;
  --color-menu-background-active: #464646;
  --color-menu-search: #4a4a4a;
  --color-menu-search-fade: rgba(242, 242, 242, 0.12);
  /* Цвета кнопок списков */
  --color-planned: #466572;
  --color-onhold: #535353;
  --color-watching: #415862;
  --color-rewatching: var(--color-watching);
  --color-completed: #545c43;
  --color-dropped: #5e3838;
}
