.b-achievements_notifier
  right: 8px
  top: 64px
  font-size: inherit

  .achievement
    padding: 16px
    margin-bottom: .5em
    border: 0
    border-radius: 3px
    line-height: 1.5
    transition: all .16s ease

    &.gained,
    &.lost
      background: rgba(66, 66, 66, .9)
      border-color: #424242
      color: #fff
      &:hover
        background: #424242

    .image
      margin: -4px -4px -4px auto

      img
        border-radius: 3px

    .content
      .name
        margin: 0
        font-size: .875em

        .level
          color: #eee
          font-size: inherit

        .icon
          top: 0
          right: 0
          left: auto
          padding: 8px
          margin: 4px
          border-radius: 50%
          font-size: 24px
          cursor: pointer

          @extend %material-icons
          &::before
            content: 'close'

      .title a,
      .name a
        color: #fff !important

      .name a
        text-decoration: none !important

    &.gained .title a::after
      content: '!'

    &.lost .title a::before
      content: '😱 '
      display: inline-block
      margin: -8px 4px -8px 0
      font-size: 24px
