.b-video
  vertical-align: top
  position: relative
  margin: 0 auto .25em
  background: #212121
  border-radius: 3px
  cursor: pointer !important

  &:last-child
    margin: 0 auto

  &::before
    content: 'play_arrow'
    position: absolute
    top: 50%
    left: 50%
    width: 1em
    height: 1em
    padding: .1em
    margin: auto
    font-size: 2.5rem
    background: rgba(0,0,0,.72)
    border-radius: 50%
    color: #fff
    transform: translate3d(-50%, -50%, 0)
    opacity: 0
    transition: .24s ease-in-out
    pointer-events: none
    user-select: none
    z-index: 1

    font-family: 'Material Icons'
    font-weight: normal
    font-style: normal
    line-height: 1
    text-transform: none
    letter-spacing: normal
    word-wrap: normal
    white-space: nowrap
    direction: ltr

    -webkit-font-smoothing: antialiased
    text-rendering: optimizeLegibility
    -moz-osx-font-smoothing: grayscale
    font-feature-settings: 'liga'

  &:hover::before
    opacity: 1

  a.video-link
    display: block
    height: 0
    padding-bottom: 56.25%
    color: #fff !important
    cursor: pointer !important

    &:hover
      opacity: 1

    &::before
      display: none

  img
    transition: opacity .24s ease-in-out
    backface-visibility: hidden

  &:hover img
    opacity: .56

  .marker
    left: auto
    right: 4px
    bottom: 4px
    padding: 0 8px
    background: rgba(0,0,0,.8)
    border-radius: 3px
    color: #fff !important
    font-size: .75rem
    font-style: normal
    line-height: 20px
    backface-visibility: hidden
    pointer-events: none
    user-select: none

    &::before
      display: inline-block
      vertical-align: top
      padding-right: inherit
      font-size: 1em
      line-height: inherit

  .name
    min-width: 100%
    padding: 2px 8px 2px
    background: linear-gradient(rgba(0,0,0,.56), transparent)
    color: #fff !important
    line-height: 20px
    text-align: left
    backface-visibility: hidden

.b-video.youtube .marker::before
  content: '▶'
  color: #ed443c

.b-video.vk .marker::before
  content: '▶'
  color: #5992e8

.b-video.smotret_anime .marker::before
  content: '▶'
  color: #CDDC39
