@media (min-width: 960px)
  body
    // Обложка из сборщика устанавливается фоном
    background: var(--user-cover) center top / cover no-repeat fixed !important

  #profiles_show .l-page
    margin-top: 352px // размер не отличается от обычной обложки
    border-radius: 8px 8px 0 0 // небольшое закругление углов центральной области

  .p-profiles .profile-head::before
    display: none !important // обычная обложка скрыта

// @media (min-width: 1200px)
//   body
//     background: var(--color-background) var(--user-cover) top center / calc(100vw + 16px) no-repeat fixed !important

//     &::-webkit-scrollbar
//       width: 16px
//       background: inherit
//       background-attachment: scroll
//       background-position-x: 100%

//     &::-webkit-scrollbar-thumb
//       background: linear-gradient(90deg, transparent 25%, var(--color-menu-background) 25%, var(--color-menu-background) 75%, transparent 75%)
//       border-radius: 16px

//     &::-webkit-scrollbar-button:vertical:decrement
//       width: 16px
//       height: 56px
//       background: var(--color-menu-background)

//     &#profiles_show::-webkit-scrollbar-button:vertical:decrement
//       background: linear-gradient(var(--color-menu-background-fade), transparent)
