.p-tests-news
  .b-topic
    .b-status-line
      .section.additional
        padding-left: 1em
        white-space: nowrap

  .generated-news-line
    position: relative
    min-height: 66px
    padding: 8px 0
    margin: 0

    &:not(:nth-child(2))::after
      content: ''
      position: absolute
      right: 48px
      top: 0
      left: 0
      height: 1px
      background: $color-border

    .poster
      padding-left: 16px

    .info
      .name
        margin-bottom: 4px
        color: $color-text-primary
        line-height: 1.5

      .status-time
        .kind
          margin-right: 8px
          color: $color-text-secondary
          font-size: 12px

        .b-anime_status_tag
          margin: 0 8px 0 0

        .time
          color: $color-text-hint
          font-size: 12px

  .headline
    .buttons
      .options
        @extend %md-icon
        @extend %md-icon-hover
        &::before
          content: 'tune'

// TODO: separate files
.b-topic.b-news_wall-topic.b-news-topic
  & > .inner
    .name-date .name
      color: $color-text-primary

    footer .b-shiki_swiper
      border-radius: $border-rounded

  .b-anime_status_tag
    background-color: $color-background-translucent
