// Кнопки списков сбоку
@media (min-width: 1312px)
  .p-user_rates-index .l-content > .mylist
    position: fixed
    top: 240px
    right: auto
    margin: 0 0 0 -80px
    text-align: left

    a
      position: relative
      display: block
      padding: 8px
      margin: 8px 0
      background: var(--color-background)
      border-radius: 50% 0 0 50%
      color: var(--color-text-hint)
      font-size: 0
      font-weight: normal
      line-height: 0

      &:hover
        text-decoration: none

      &:before
        display: block
        width: 1em
        height: 1em
        padding: 8px
        border-radius: 50%
        font-family: 'Material Icons'
        font-size: 24px
        line-height: 1
        /* Support for all WebKit browsers. */
        -webkit-font-smoothing: antialiased
        /* Support for Safari and Chrome. */
        text-rendering: optimizeLegibility
        /* Support for Firefox. */
        -moz-osx-font-smoothing: grayscale
        /* Support for IE. */
        font-feature-settings: 'liga'

      &:hover::before,
      &.selected::before
        background: var(--color-primary)
        color: var(--color-text-on-primary)

      &[data-id='planned']::before
        content: 'today'

      &[data-id='watching']::before
        content: 'play_arrow'

      &[data-id='rewatching']::before
        content: 'replay'

      &[data-id='completed']::before
        content: 'done'

      &[data-id='on_hold']::before
        content: 'inbox'

      &[data-id='dropped']::before
        content: 'delete'

      &:after
        display: none

      span
        position: absolute
        top: 0
        right: 0
        padding: 2px 4px
        margin: 6px 4px
        background: var(--color-accent)
        border-radius: 2px
        color: var(--color-text-on-accent)
        font-size: 14px
        font-weight: bold
        line-height: .8

        &::before,
        &::after
          display: none
