.p-profiles-show
  .b-stats_bar
    .bar
      border-radius: 4px
      line-height: 8px

      div
        vertical-align: top
        font-size: 0
        line-height: inherit


.stat_names
  display: flex
  flex-direction: column
  @media (min-width: 600px)
    flex-direction: row
    flex-wrap: wrap

  .stat_name[data-type='completed']
    order: -1

  .stat_name
    & > a::before
      content: ''
      display: inline-block
      vertical-align: top
      width: .5rem
      height: .5rem
      margin: .75rem .5rem .75rem 0
      background: var(--color-border)
      border-radius: 50%

    .anime &
      &[data-type='planned'],
      &[data-type='watching,rewatching'],
      &[data-type='on_hold']
        & > a::before
          background-color: var(--color-primary-reduced)

      &[data-type='completed']
        & > a::before
          background-color: var(--color-primary)

    .manga &
      &[data-type='planned'],
      &[data-type='watching,rewatching'],
      &[data-type='on_hold']
        & > a::before
          background-color: var(--color-accent-reduced)

      &[data-type='completed']
        & > a::before
          background-color: var(--color-accent)

    .b-stats_bar &
      .size::before
        content: '–'
        color: var(--color-text-hint)
        padding-right: 3px

      .size::after
        display: none

      & > a:hover
        text-decoration: none

        .size::before
          color: inherit
