// Spoiler v2
.block > .b-spoiler
  display: block
  clear: both
  position: relative
  margin-bottom: .5em
  background-color: rgba(128,128,128,.2)
  border-radius: 3px

  & + br,
  & > .content > .before:before,
  & > .content > .after
    display: none

  & > label
    display: block !important
    padding: 10px 72px 10px 16px
    border: 0
    border-radius: inherit
    color: inherit
    font-weight: bold
    line-height: 20px

    &:hover::after
      opacity: 1

    &::after
      content: 'Show'
      position: absolute
      top: 0
      right: 0
      padding: 0 8px
      margin: 8px 16px
      background-color: #f4f5f6
      border-radius: 3px
      color: #515155
      font-family: monospace
      font-size: 14px
      font-weight: bold
      line-height: 24px
      text-transform: lowercase
      opacity: .4
      transition: .2s

    &[style *= 'none']::after
      content: 'Hide'

  & > .content
    & > .before
      position: absolute
      top: 0
      right: 0
      bottom: 0
      left: 0
      padding: 4px 16px
      line-height: 32px

    & > .inner
      display: block
      position: relative
      min-height: 0
      padding: 0 0 0 16px
      margin: 8px 16px
      border: 0
      border-left: 2px solid #6d6f72
      cursor: auto
      z-index: 1

    &::after
      content: ''
      display: block
      clear: both
      padding-top: 4px
