// Ачивки
.p-achievements-index .cc-achievements
  display: flex
  flex-wrap: wrap
  align-items: stretch
  align-content: stretch

@media (min-width: 768px)
  .p-achievements-index .cc-achievements .b-achievement:nth-child(n)
    width: calc(25% - (16px * 3 / 4))
    margin-right: 16px
    margin-bottom: 16px

  .p-achievements-index .cc-achievements .b-achievement:nth-child(4n+4)
    margin-right: 0

  .p-achievements-index .cc-franchises-genres .c-genres .b-achievement:nth-child(n)
    margin-right: 16px
    margin-bottom: 16px

  .p-achievements-index .cc-franchises-genres .c-genres .b-achievement:nth-child(4n+4)
    margin-right: 0

  .p-achievements-index .cc-franchises-genres .c-genres,
  .p-achievements-index .cc-franchises-genres .c-franchises
    width: 100%

.p-achievements-index .tipsy
  display: none !important

.p-achievements-index .c-franchises .b-badge
  position: relative
  background: rgba(0,0,0, .4)
  border-radius: 3px
  overflow: hidden

.p-achievements-index .c-franchises .b-badge,
.p-achievements-index .c-franchises .b-badge img
  transition: .24s ease

.b-badge .no-image,
.p-achievements-index .c-franchises .b-badge img
  border-radius: inherit

.p-achievements-index .c-franchises .b-badge::after,
.p-achievements-index .c-franchises .b-badge::before
  display: block
  position: absolute
  top: auto
  right: 0
  bottom: 0
  left: 0
  width: auto
  height: auto
  padding: 12px 12px 6px
  border-radius: 0 0 3px 3px
  color: #fff
  font-size: 14px
  font-weight: bold
  line-height: 20px
  text-shadow: 0 0 1px black, 0 1px 5px rgba(0,0,0,.32)
  backface-visibility: hidden
  transition: .24s ease
  opacity: 1
  z-index: 1

.p-achievements-index .c-franchises .b-badge:hover::after,
.p-achievements-index .c-franchises .b-badge:hover::before
  transform: translate3d(0, 100%, 0)

.p-achievements-index .c-franchises .b-badge[original-title]::before
  content: attr(original-title)

.p-achievements-index .c-franchises .b-badge[title]::before
  content: attr(title)

.p-achievements-index .c-franchises .b-badge::before
  padding-right: 48px
  background: linear-gradient(transparent, rgba(0,0,0,.32))
  text-align: left

.p-achievements-index .c-franchises .b-badge::after
  content: attr(data-progress) '%'
  background: none
  text-align: right

// .p-achievements-index .c-franchises .b-badge[data-progress='100']::after
//   content: '★'
//   font-size: 24px
//   line-height: 1
//   color: #ffcf22
//   display: flex
//   align-items: flex-start
//   top: 0
//   justify-content: flex-end
//   box-shadow: 0 0 0 2px #ffcf22 inset
//   border-radius: inherit

// no-image
.p-achievements-index .c-franchises .b-badge .no-image
  transition: .24s ease

.p-achievements-index .c-franchises .b-badge.level-0.unavailable:not(:hover) .no-image
  opacity: 0.2

.p-achievements-index .c-franchises .b-badge.level-0:not(:hover) .no-image,
.p-achievements-index .c-franchises .b-badge.unavailable:not(:hover) .no-image
  opacity: 0.5

// всплывашка
.p-achievements-index .b-list_switchers .switcher
  @extend %md-tooltip
  @extend %md-tooltip-top

  &[title]::after
    content: attr(title)

  &[original-title]::after
    content: attr(original-title)

// Фикс вылезающих за пределы страницы тултипов
@media screen and (max-width: 767px)
  .p-achievements-index .cc-franchises-genres .c-franchises
    padding: 0 16px
    margin: 0 -16px
    overflow: hidden
