/* НАСТРОЙКА ЦВЕТОВ */
/* Цвет текста ссылки по умолчанию */
a
  color: $color-link

/* Цвет ссылки при наведении */
a:hover
  color: $color-link-hover

/* Цвет ссылки при нажатии */
@media only screen and (min-width: 1025px)
  a:active
    color: $color-link-active

.b-abuse_request .ban-form .cancel,
.b-bb_codes-examples .example a,
.b-bb_codes-examples .result a,
.b-bracket-actions > div,
.b-bracket-actions > span,
.b-catalog_entry .cover .title,
.b-cosplay-topic > .inner .cosplay-info .line .value a,
.b-cosplay_gallery h3 a,
.b-db_entry > .c-about .additional-links .line-container > .link,
.b-db_entry > .c-about .additional-links .line-container > a,
.b-feedback-inner .about a,
.b-form .variants .variant a,
.b-forums .forum .link-with-input .link,
.b-forums .reload,
.b-header_filters .filter-line a,
.b-js-action,
.b-js-link,
.b-link,
.b-log_entry .moderation a,
.b-person .name,
.b-topic .footer-vote .vote-group .vote,
.b-user.named_avatar .name,
.subheadline .misc-link,
.b-video_variant a,
.b-animes-menu .menu-topics-block .history-entry-tooltip a,
.p-animes-files .l-content a,
.p-mangas-files .l-content a,
.p-contests-edit .grid,
.p-contests .match-day .match-link a,
.p-contests .rating .member a,
.p-contests .results a,
.p-contests .suggestion > a,
.p-contests .variant > a,
.b-contests-menu .results,
.b-contests-menu .grid a,
.p-contests-grid .round .match a,
.p-contests-index .contest a,
.p-dashboards .c-my_list .list-type > .title .link,
.p-dashboards .c-my_list .history > .title .link,
.p-dashboards .c-my_list .list-type > .title .switch,
.p-dashboards .c-my_list .history > .title .switch,
.p-dashboards .user_list .list-type > .title .link,
.p-dashboards .user_list .history > .title .link,
.p-dashboards .user_list .list-type > .title .switch,
.p-dashboards .user_list .history > .title .switch,
.p-dashboards-show .midheadline .b-link,
.p-dashboards-show .c-content .options .option,
.p-db_entries-edit_field .cc-genres > .c-all_genres .genre:not(.included) .name,
.p-profiles .profile-head .c-brief header .notice a,
.p-profiles .profile-head .c-mobile-actions a,
.p-profiles .profile-head .c-mobile-actions span,
.p-profiles .profile-head .c-info .c-additionals div a,
.p-profiles-edit .list .profile-action a:not(.b-button),
.p-profiles-show .about a,
.p-studios .studio .name,
.p-translations .animes a,
.b-log_entry .comment-block ins,
.p-statistics-index .forum-nav .sections a.selected,
.b-animes-menu .menu-topics-block a.entry .name,
.b-animes-menu .menu-topics-block .history-entry-tooltip .tooltip-details a
  color: $color-link
  border-bottom-color: rgba($color-link, .3)




.b-abuse_request .ban-form .cancel:hover,
.b-bb_codes-examples .example a:hover,
.b-bb_codes-examples .result a:hover,
.b-bracket-actions > div:hover,
.b-bracket-actions > span:hover,
.b-catalog_entry .cover .title:hover,
.b-cosplay-topic > .inner .cosplay-info .line .value a:hover,
.b-cosplay_gallery h3 a:hover,
.b-db_entry > .c-about .additional-links .line-container > .link:hover,
.b-db_entry > .c-about .additional-links .line-container > a:hover,
.b-feedback-inner .about a:hover,
.b-form .variants .variant a:hover,
.b-forums .forum .link-with-input .link:hover,
.b-forums .reload:hover,
.b-header_filters .filter-line a:hover,
.b-js-action:hover,
.b-js-link:hover,
.b-link:hover,
.b-log_entry .moderation a:hover,
.b-person .name:hover,
.b-topic .footer-vote .vote-group .vote:hover,
.b-user.named_avatar .name:hover,
.subheadline .misc-link:hover,
.b-video_variant a:hover,
.b-animes-menu .menu-topics-block .history-entry-tooltip a:hover,
.p-animes-files .l-content a:hover,
.p-mangas-files .l-content a:hover,
.p-contests-edit .grid:hover,
.p-contests .match-day .match-link a:hover,
.p-contests .rating .member a:hover,
.p-contests .results a:hover,
.p-contests .suggestion > a:hover,
.p-contests .variant > a:hover,
.b-contests-menu .results:hover,
.b-contests-menu .grid a:hover,
.p-contests-grid .round .match a:hover,
.p-contests-index .contest a:hover,
.p-dashboards .c-my_list .list-type > .title .link:hover,
.p-dashboards .c-my_list .history > .title .link:hover,
.p-dashboards .c-my_list .list-type > .title .switch:hover,
.p-dashboards .c-my_list .history > .title .switch:hover,
.p-dashboards .user_list .list-type > .title .link:hover,
.p-dashboards .user_list .history > .title .link:hover,
.p-dashboards .user_list .list-type > .title .switch:hover,
.p-dashboards .user_list .history > .title .switch:hover,
.p-dashboards-show .midheadline .b-link:hover,
.p-dashboards-show .c-content .options .option:hover,
.p-dashboards-show .c-content .options .option.selected,
.p-db_entries-edit_field .cc-genres > .c-all_genres .genre:not(.included) .name:hover,
.p-profiles .profile-head .c-brief header .notice a:hover,
.p-profiles .profile-head .c-mobile-actions a:hover,
.p-profiles .profile-head .c-mobile-actions span:hover,
.p-profiles .profile-head .c-info .c-additionals div a:hover,
.p-profiles-edit .list .profile-action a:not(.b-button):hover,
.p-profiles-show .about a:hover,
.p-studios .studio .name:hover,
.p-translations .animes a:hover,
.p-statistics-index .forum-nav .sections a:hover,
.b-catalog_entry .cover:hover,
.b-catalog_entry .cover:hover .title,
.b-comment > .inner .was_updated:hover,
.b-comment header .hash:hover,
.b-dialog > .inner .was_updated:hover,
.b-message > .inner .was_updated:hover,
.b-topic > .inner .was_updated:hover,
.headline > a:hover:before,
.midheadline > a:hover:before,
.subheadline > a:hover:before,
.headline.linkheadline > a:hover,
.linkheadline.midheadline > a:hover,
.linkheadline.subheadline > a:hover,
.headline.linkheadline > a:hover:before,
.linkheadline.midheadline > a:hover:before,
.linkheadline.subheadline > a:hover:before,
.p-animes-franchise .sticky-tooltip .close:hover,
.p-mangas-franchise .sticky-tooltip .close:hover,
.p-contests .match-day .match-link.voted-none > .c-column a:hover,
.p-contests .match-day .match-link.voted-left > .c-column:last-child a:hover,
.p-contests .match-day .match-link.voted-right > .c-column:first-child a:hover,
.p-contests .match-day .match-link .c-column.loser a:hover,
.p-contests .match-day .match-link .c-column.created a:hover,
.p-contests-grid .round .match .date a:hover,
.p-topics header h1 a.reload:hover,
.b-video_variant.active a,
.b-animes-menu .menu-topics-block a.entry:hover .name,
.b-animes-menu .menu-topics-block a.entry .name:hover,
.b-animes-menu .menu-topics-block .history-entry-tooltip .tooltip-details a:hover
  color: $color-link-hover
  border-bottom-color: rgba($color-link-hover, .3)



.b-header_filters .filter-line a:active,
.b-person .name:active,
.b-animes-menu .menu-topics-block .history-entry-tooltip a:active,
.p-animes-files .l-content a:active,
.p-mangas-files .l-content a:active,
.p-dashboards-show .midheadline .b-link:active,
.p-dashboards-show .c-content .options .option:active,
.p-profiles .profile-head .c-brief header .notice a:active,
.p-profiles .profile-head .c-mobile-actions a:active,
.p-profiles .profile-head .c-mobile-actions span:active,
.p-profiles .profile-head .c-info .c-additionals div a:active,
.headline > a:active:before,
.midheadline > a:active:before,
.subheadline > a:active:before,
.p-anime_videos-index .c-videos .video-variant-switcher.active:hover
  color: $color-link-active

@media only screen and (min-width: 1025px)
  .b-abuse_request .ban-form .cancel:active,
  .b-bb_codes-examples .example a:active,
  .b-bb_codes-examples .result a:active,
  .b-bracket-actions > div:active,
  .b-bracket-actions > span:active,
  .b-catalog_entry .cover .title:active,
  .b-cosplay-topic > .inner .cosplay-info .line .value a:active,
  .b-cosplay_gallery h3 a:active,
  .b-db_entry > .c-about .additional-links .line-container > .link:active,
  .b-db_entry > .c-about .additional-links .line-container > a:active,
  .b-feedback-inner .about a:active,
  .b-form .variants .variant a:active,
  .b-forums .forum .link-with-input .link:active,
  .b-forums .reload:active,
  .b-header_filters .filter-line a:active,
  .b-js-action:active,
  .b-js-link:active,
  .b-link:active,
  .b-log_entry .moderation a:active,
  .b-topic .footer-vote .vote-group .vote:active,
  .b-user.named_avatar .name:active,
  .subheadline .misc-link:active,
  .b-video_variant a:active,
  .p-contests-edit .grid:active,
  .p-contests .match-day .match-link a:active,
  .p-contests .rating .member a:active,
  .p-contests .results a:active,
  .p-contests .suggestion > a:active,
  .p-contests .variant > a:active,
  .b-contests-menu .results:active,
  .b-contests-menu .grid a:active,
  .p-contests-grid .round .match a:active,
  .p-contests-index .contest a:active,
  .p-dashboards .c-my_list .list-type > .title .link:active,
  .p-dashboards .c-my_list .history > .title .link:active,
  .p-dashboards .c-my_list .list-type > .title .switch:active,
  .p-dashboards .c-my_list .history > .title .switch:active,
  .p-dashboards .user_list .list-type > .title .link:active,
  .p-dashboards .user_list .history > .title .link:active,
  .p-dashboards .user_list .list-type > .title .switch:active,
  .p-dashboards .user_list .history > .title .switch:active,
  .p-dashboards-show .midheadline .b-link:active,
  .p-dashboards-show .c-content .options .option:active,
  .p-db_entries-edit_field .cc-genres > .c-all_genres .genre:not(.included) .name:active,
  .p-profiles .profile-head .c-brief header .notice a:active,
  .p-profiles .profile-head .c-mobile-actions a:active,
  .p-profiles .profile-head .c-mobile-actions span:active,
  .p-profiles .profile-head .c-info .c-additionals div a:active,
  .p-profiles-edit .list .profile-action a:not(.b-button):active,
  .p-profiles-show .about a:active,
  .p-studios .studio .name:active,
  .p-translations .animes a:active,
  .p-statistics-index .forum-nav .sections a:active,
  .b-catalog_entry .cover:active,
  .b-comment > .inner .was_updated:active,
  .b-comment header .hash:active,
  .b-dialog > .inner .was_updated:active,
  .b-message > .inner .was_updated:active,
  .b-topic > .inner .was_updated:active,
  .headline.linkheadline > a:active,
  .linkheadline.midheadline > a:active,
  .linkheadline.subheadline > a:active,
  .headline.linkheadline > a:active:before,
  .linkheadline.midheadline > a:active:before,
  .linkheadline.subheadline > a:active:before,
  .p-animes-franchise .sticky-tooltip .close:active,
  .p-mangas-franchise .sticky-tooltip .close:active,
  .p-contests .match-day .match-link.voted-none > .c-column a:active,
  .p-contests .match-day .match-link.voted-left > .c-column:last-child a:active,
  .p-contests .match-day .match-link.voted-right > .c-column:first-child a:active,
  .p-contests .match-day .match-link .c-column.loser a:active,
  .p-contests .match-day .match-link .c-column.created a:active,
  .p-contests-grid .round .match .date a:active,
  .p-topics header h1 a.reload:active,
  .b-bracket-details:active,
  .b-form a.remove:active,
  .b-animes-menu .menu-topics-block a.entry .name:active,
  .b-animes-menu .menu-topics-block .history-entry-tooltip .tooltip-details a:active
    color: $color-link-active
    border-bottom-color: rgba($color-link-active, .3)




.p-contests .match-day > .date,
.p-animes_collection-index .l-content.ajax_request::before,
.p-mangas_collection-index .l-content.ajax_request::before,
.p-recommendations-index .l-content.ajax_request::before,
.p-userlist_comparer-show .l-content.ajax_request::before,
.b-ajax:before
  background: $color-background

.l-page:before
  outline-color: $color-background

@media screen and (max-width: 960px)
  .p-profiles .profile-head .c-brief header
    background-color: $color-background


/* BLACK GREY WHITE */
header.head h1,
header.head h2,
.b-input input,
.b-input textarea,
.b-shiki_editor .body .editor textarea,
.subheadline-input,
.b-catalog_entry .cover .title,
.b-forums .forum .link-with-input .link,
.b-modal .subheadline,
.b-pages .b-link,
.b-video_variant .episode-num,
.b-video_variant .video-author,
.b-video_variant .video-id,
.headline,
.p-contests .match-day .match-link.voted-none > .c-column a,
.p-contests .match-day .match-link.voted-left > .c-column:last-child a,
.p-contests .match-day .match-link.voted-right > .c-column:first-child a,
.p-contests .match-day .match-link .c-column.loser a,
.p-contests .match-day .match-link .c-column.created a,
.p-moderations-missing_videos .missing-video>.info span,
.p-profiles .profile-head .c-history .entry .title
  color: $color-text-primary !important


/* Цвет основного текста в области при наведении */
.b-clubs-menu .b-link:hover,
.b-clubs-menu .actions li:hover,
.b-clubs-menu .actions .upload label:hover,
.b-clubs-menu .actions .invite span:hover,
.b-clubs-menu .actions .join a:hover,
.b-clubs-menu .actions .leave a:hover,
.b-forums .forum:hover .link-with-input .link,
.p-profiles .profile-head .c-history .entry:hover .title
  color: $color-text-primary !important


@media (max-width: 1024px)
  .l-top_menu .menu-items > .entry > a,
  .l-top_menu .menu-items > .entry > .submenu > a,
  .l-top_menu .inner .sign_out
    color: $color-text-primary !important


header.head .notice,
.bar.horizontal .line .x_label,
.bar.vertical .line .x_label,
.b-contest_match .vs .hint,
.b-contest_match .vs .invitation,
.b-contest_match .vs .label,
.b-contest_match .vs .thanks,
.b-contest_match .vs .vote-abstained,
.b-contest_match .vs .vote-voted,
.b-stats_bar .stat_names:hover:before,
.p-contests .match-day > .date .from,
.p-contests .match-day > .date .to
  color: $color-text-secondary



.midheadline,
.subheadline,
.b-animes-menu .menu-topics-block .date,
.b-catalog_entry .cover .misc span,
.b-forums .forum .link-with-input input + .link,
.b-forums .forum .topics,
.b-log_entry .state.auto_accepted,
.b-pages .title,
.b-stats_bar .stat_names:before,
.b-topic-preview > .inner .status-line .about,
.b-topic-preview > .inner .status-line .from,
.l-top_menu .menu-items .submenu-toggler,
.p-contests .b-contest_match .vs,
.p-contests .match-day .matches-num,
.p-contests .rating .member .position,
.p-db_entries-edit .b-list .field,
.p-profiles .profile-head .c-info .c-additionals b,
.b-video_variant .episode-hostings,
.b-video_variant .video-hosting,
.b-video_variant .video-language
  color: $color-text-hint

.b-db_entry > .c-about .additional-links .key,
.p-profiles .profile-head .c-history .entry .misc,
.p-profiles-show .lifetime .title > .label:before,
.p-profiles-show .profile-content .activity .title
  color: $color-text-hint !important


header.head a.edit,
header.head .misc,
.b-db_entry > .c-about .additional-links .line-container > a:after,
.b-db_entry > .c-about .additional-links .line-container > .link:after,
.b-video_variant .episode-hostings:after,
.b-video_variant .episode-hostings:before,
.b-video_variant .video-hosting:after,
.b-video_variant .video-hosting:before,
.b-video_variant .video-kind.english:before,
.b-video_variant .video-language:after,
.b-video_variant .video-language:before,
.p-contests-index .contest .date,
.p-moderations-missing_videos .missing-video > .info,
.p-moderations-show .b-list .size:after,
.p-moderations-show .b-list .size:before,
.p-profiles .profile-head .c-brief header .notice span:after,
.p-profiles .profile-head .c-info .c-additionals div:after,
.p-statistics-index .forum-nav .sections a:after
  color: $color-text-disabled

.p-profiles .profile-head .c-history .entry .misc.date
  color: $color-text-disabled !important


/* PRIMARY COLOR */
.line:nth-child(odd) > .bar-container > .bar,
.line:nth-child(odd) > .bar-container > .bar:hover
  background-color: $color-primary

.b-forums .forum input:checked + .link:before,
.tooltip-details .ajax-loading
  color: $color-primary
/* END of PRIMARY COLOR */


/* ACCENT COLOR */
.menu .unread-count,
.menu .entry:hover .unread-count,
.menu .contest,
.menu .entry:hover .contest
  background-color: $color-accent

.menu .unread-count:hover,
.menu .contest:hover
  background-color: $color-accent !important

html.turbolinks-progress-bar:before,
.turbolinks.turbolinks-progress-bar::before
  background: $color-accent !important
  box-shadow: 0 0 10px rgba($color-accent, .7) !important

.menu .unread-count,
.menu:hover .unread-count,
.menu .contest,
.menu:hover .contest
  color: $color-text-on-accent !important
/* END of ACCENT COLOR */



.p-topics-new .topic_video,
.p-topics-edit .topic_video,
.p-topics-create .topic_video,
.p-topics-update .topic_video
  background: $color-area-normal


.b-editable_grid tbody tr:nth-child(odd) td,
.b-pages,
.l-page .menu-toggler .toggler,
.subheadline-input
  background: $color-background-secondary

.editor textarea.b-comment,
.editor textarea.b-message
  background: $color-background-secondary !important


/* Области наведения */
.b-forums .forum:hover,
.b-stats_bar .stat_names:hover:before,
.p-profiles .profile-head .c-history .entry:hover a
  background-color: $color-area-normal



/* ЦВЕТ ГРАНИЦ ЭЛЕМЕНТОВ */
.b-dialog:before,
.b-message:before,
.b-comment:before,
.b-comments .comments-loaded:before,
.p-contests .match-day:before,
.p-profiles .profile-head .c-history .entry:before
  background-color: $color-border


.b-pages,
.b-shiki_editor .body .editor textarea,
.b-tooltipped:not(a),
.b-topic,
.l-page .menu-toggler .toggler,
.p-dashboards-show .cc-news .c-generated_news .b-topic,
.p-topics header h1 a.reload,
.p-topics-new .topic_video,
.p-topics-edit .topic_video,
.p-topics-create .topic_video,
.p-topics-update .topic_video,
.subheadline-input
  border-color: $color-border
/* END of НАСТРОЙКА ЦВЕТОВ */
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
