/* Шрифт: Arial */
:root
  --font-main: 'Arial', sans-serif
  --font-alt: var(--font-main)
  --font-alt-text-letter-spacing: normal

body, input, select, button, textarea
  font-family: var(--font-main)
