/* BUGFIX */
/* В превью комментария не отображается заголовок на страницах клубов */
.p-club_pages .new_comment .preview .b-comment .inner header,
.p-club_pages .edit_comment .preview .b-comment .inner header
  display: block

.edit-page .preview .b-comment > .inner > header
  display: none

.edit-page .preview .b-comment > .inner > .body
  padding-left: 0

/* Максимальная ширина элементов */
img
  max-width: 100%

/* Убираем лишнее пространство под textarea */
textarea
  vertical-align: top

/**/
/**/
/**/

/* ОСНОВНОЙ ФАЙЛ */
.b-header_filters .filter-line .title,
.b-header_filters .filter-line a.current,
.p-statistics-index .forum-nav .sections a,
.p-userlist_comparer .comparer table .name a
  color: inherit






// НАСТРОЙКИ
// Используется для дальнейших рассчётов размеров
$layout-grid: 8px !default
// Gutters are the spaces between columns. They help separate content.
$layout-gutter: 16px !default
// Margins are the space between content and the left and right edges of the screen.
$layout-margin: 16px !default
$layout-margin-tablet: $layout-margin * 1.5 !default

// Дополнительные цвета
$color-success: #66bb6a
$color-warning: #ef8d50
$color-danger: #ef5350
$color-info: #4f91e8
$color-offtop: #f58ebb
$color-violet: #a64fe8
$color-yellow: #e8dc4f
$color-magenta: #e84fde

// 
$border-round: 50%
$border-rounded: 3px
$color-black: #212121
$color-white: #fafafa
$font-size: 16px




/* MAIN BLOCKS */
html
  height: 100%
  overflow-x: hidden

body
  position: relative
  min-height: 100%
  background-color: $color-background
  color: $color-text-primary
  font-size: 16px
  font-weight: 400
  line-height: 1.5
  // overflow-x: hidden /* блокирует работу position: sticky */

  @media (max-width: 1024px)
    background-color: $color-background !important

.l-page
  min-height: 100%
  padding: 72px $layout-margin 0
  background: $color-background

  @media (min-width: 960px)
    padding-right: $layout-margin-tablet
    padding-left: $layout-margin-tablet

.l-footer
  padding: 0
  margin: 1em 0 0
  text-align: center
  line-height: 2em

  &::before
    content: 'shiki-theme v#{$ver}-#{$release}'
    display: block
    float: left
    position: static
    bottom: auto
    left: auto
    width: auto
    height: auto
    background: none
    color: $color-text-hint
    font-weight: 700

  /* НЕ УДАЛЯТЬ! Информация для устранения неполадок */
  body[data-user *= ':2727,'] &::before
    content: 'shiki-theme v#{$ver}-#{$release}'

  &::after
    display: none

  &::before,
  .copyright,
  .links
    padding: 0
    font: inherit
    font-size: .75em

  .copyright
    color: $color-text-secondary

  .links
    clear: both
    display: inline-block
    vertical-align: top
    text-align: center

    a
      color: $color-text-hint

      &:last-child
        margin: 0



/* RESET LAYOUT */
@media (max-width: 1024px)
  .l-page
    .menu-slide-outer
      width: auto
      padding: 0 16px
      margin: 0 -16px

      .menu-slide-inner
        width: 100% !important

      .l-content
        float: none !important
        width: 100% !important
        margin: 0 !important



/* ОБЩИЕ КЛАССЫ */
.p0,
.m0,
.m1,
.m2,
.m3,
.m4,
.m5,
.m6,
.m7,
.m8,
.m10,
.m12,
.m15,
.m20,
.m25,
.m30,
.m40,
.m50
  margin-bottom: .5rem !important

.m10,
.m13
  margin-bottom: 0 !important



div.body
  line-height: inherit



h3
  border-color: $color-border
  color: $color-text-secondary
  font-size: 1rem
  line-height: 1.5
  margin-bottom: .5rem
  text-overflow: ellipsis
  white-space: nowrap
  overflow: hidden



hr
  margin: .5rem 0
  background-color: $color-border
  background-image: none



.block, .c-column
  line-height: inherit !important

.block
  margin-bottom: .5rem



.b-errors
  margin-bottom: .5rem
  line-height: inherit

  .subheadline
    margin-bottom: 0
    border: 0

.red
  border: 0



.b-mention
  color: $color-link
  &:hover
    color: $color-link-hover
  &:active
    color: $color-link-active

  s
    color: inherit



.b-menu-line
  line-height: 1.5



.b-nothing_here
  margin-left: 0
  color: $color-text-disabled
  font-size: .875rem
  line-height: 2.5rem

  a
    color: $color-link
    &:hover
      color: $color-link-hover
    &:active
      color: $color-link-active

  .tooltip-details &.centered
    color: inherit



.b-replies
  padding: 8px 0 0
  color: $color-text-hint
  font-size: .75rem



.b-separator
  color: $color-text-disabled



.b-prgrph,
.b-spoiler_prgrph
  margin-bottom: .5rem !important



.b-show_more,
.b-show_more-more .hide-more
  display: inline-block
  padding: 0 .5rem
  margin: .25rem 0
  border-radius: .625rem
  color: $color-text-secondary
  font-size: .875rem
  font-weight: bold
  line-height: 1.25rem

  &:hover
    background-color: $color-area-hover
    color: $color-text-secondary



// TODO: check this element
.text
  margin-left: 0 !important



.yellow-fade
  background: mix($color-background, $color-accent, 48%)
  outline-color: mix($color-background, $color-accent, 48%)


// TODO: check this element
// NOTE: .b-comment.b-comment-info
.b-comment-info
  color: $color-text-hint
  font-size: .875rem
  text-align: left
  line-height: 1.5rem

  & > span
    margin-right: .5rem











.p-profiles-edit .l-page > div > header.head,
.p-dialogs .l-page > div > header.head,
.p-messages .l-page > div > header.head
  margin-bottom: 0


.p-dialogs header.head,
.p-messages header.head,
.p-profiles-edit header.head
  padding: 16px 16px 8px
  margin: -16px -16px 0










/* inset dividers */
.b-dialog::before,
.b-message::before,
.b-comment::before,
.b-comments .comments-loaded::before
  content: ''
  position: absolute
  bottom: 0
  right: 0
  left: 3.5rem
  height: 1px

.b-generated_news::before
  left: 0

.b-comments .comments-loaded .b-comment:last-child
  margin: 0

.b-dialog:last-child::before,
.b-message:last-child::before,
.b-comment:last-child::before
  display: none



/* Левый отступ комментариев от края экрана */
.b-comment > .inner > .body,
.b-dialog > .inner > .body,
.b-message > .inner > .body,
.b-topic > .inner > .body,
.b-topic > .inner > footer,
.b-topic-preview > .b-comments,
.b-topic-preview > .inner > .body,
.b-topic-preview > .inner > footer
  padding-left: 3.5rem

// Фикс отступа в новостях и новостных топиках
.b-dialog .b-message > .inner > .body,
.b-topic-preview.mini > .inner > header,
.b-topic-minified > .inner > header,
.b-generated_news-topic > .inner > header,
.b-generated_news > .inner > header,
.b-generated_news > .inner > .body,
.p-clubs-show .b-topic-preview.mini > .inner > .body
  padding-left: 0

// Предпросмотр описания и страниц клуба
.edit_club .b-shiki_editor .b-comment .inner .body,
.new_club_page .b-shiki_editor .b-comment .inner .body
  padding-left: 0

.p-polls-new .b-comment > .inner > .body
  padding-left: 0

@media (max-width: 767px)
  .b-topic-preview > .b-comments
    padding-left: 0

  .b-topic-preview > .inner > .body,
  .b-topic-preview > .inner > footer
    padding-left: 3.5rem

@media (min-width: 767px)
  .b-news-topic > .b-comments
    padding-left: 3.5rem
/* END of Левый отступ комментариев от края экрана */









/* Просмотр комментариев во всплывающей подсказке */
.tooltip
  .b-comment,
  .b-message
    padding-top: 0 !important
    padding-bottom: 0

    &::before
      display: none




/**
 * PROFILE
 * ПРОФИЛЬ ПОЛЬЗОВАТЕЛЯ
 */
.p-profiles-show .b-stats_bar a.title
  padding: .5rem 1rem
  margin: .5rem -1rem
  border-radius: 2px

.p-profiles-show .b-stats_bar a.title:hover
  text-decoration: none !important

/* Убираем лишние overflow */
.p-profiles-show .profile-content
  overflow: visible

/* Настраиваем равномерные отступы */
.p-profiles .profile-content .cc-2,
.p-profiles .profile-content .about,
.p-profiles .profile-content .cc-2 .c-right .cc-2a
  margin-bottom: 1rem !important

@media screen and (max-width: 767px)
  .cc-2 > .c-column
    margin-bottom: 1rem

  .p-profiles-show .profile-content .activity:last-child
    margin-bottom: 1.25rem !important

.line:nth-child(even) > .bar-container > .bar,
.line:nth-child(even) > .bar-container > .bar:hover
  background-color: mix($color-primary, $color-background, 72%) /* thx NedStar */

/* Столбики активности */
.bar.vertical
  padding: 0
  border: none

.bar.vertical .line
  border: none

.bar.vertical .line .bar-container .value
  font-size: .75rem
  line-height: 1.25rem

/* Горизонтальные полосы */
.bar.horizontal .line
  padding: 0
  margin: 0
  line-height: 1.25em

  .bar-container
    .bar
      height: 1.25em
      text-align: right

    .value
      float: none
      display: inline-block
      vertical-align: top
      padding-right: .25em
      color: $color-text-on-primary
      font-size: .75em
      line-height: inherit

  .x_label
    font-size: .75em
    font-weight: normal
    line-height: inherit


// NOTE: также является .subheadline-buttons .item-edit
.p-profiles-show .about .item-edit
  @extend %md-icon
  @extend %md-icon-hover

  &::before
    content: 'edit'


/* FIX: update 2017-03-19 */
.p-profiles .profile-head .c-info .c-lists-info .b-stats_bar::after
  clear: none


/* Выпадающий список аниме/манги в профиле */
@media (max-width: 599px)
  .p-profiles .profile-head .c-info .c-lists-info .b-stats_bar
    position: relative

  .b-stats_bar
    .stat_names
      position: absolute
      top: 0
      min-width: 165px
      border-radius: .125rem

      &:hover
        padding: 3rem 0 .5rem
        background-color: $color-background-dialog
        z-index: 10

      &::after
        content: ''
        position: absolute
        top: 0
        right: 0
        bottom: 0
        left: 0
        box-shadow: 0 2px 3px 0 rgba(0,0,0,.32)
        z-index: -1

      &::before
        content: 'arrow_drop_down'
        display: block
        position: absolute
        top: 0
        right: 0
        width: 2rem
        height: 2rem
        padding: .25rem
        margin: .5rem .25rem
        border-radius: 100%
        font-size: 1.5rem
        font-family: 'Material Icons'
        line-height: 1
        box-sizing: border-box
        pointer-events: auto

        text-transform: none
        letter-spacing: normal
        word-wrap: normal
        white-space: nowrap
        direction: ltr

        -webkit-font-smoothing: antialiased
        text-rendering: optimizeLegibility
        -moz-osx-font-smoothing: grayscale
        font-feature-settings: 'liga'

      &:hover .stat_name
        display: block

      .stat_name
        display: none
        padding: 0 1rem

        a
          display: block
          padding: 0 1rem
          margin: 0 -1rem
          &:hover
            background-color: rgba(0,0,0,.24)
            text-decoration: none



.p-profiles
  .profile-head
    .c-brief
      header
        h1
          vertical-align: top
          font-size: 1.5em
          line-height: 1

          &.aliases
            cursor: help
            @extend %material-icons

            &::before
              content: 'label'
              display: inline-block
              vertical-align: top
              float: right
              margin-left: .5rem
              opacity: .5

            &::after
              display: none

        .misc
          vertical-align: top
          padding: .5rem 1rem
          margin: 0
          font-size: .875rem
          line-height: 1.5rem

        .notice
          font-size: .75em
          line-height: 1.25rem

      .avatar
        @media (min-width: 768px)
          margin: .5rem 2rem 3rem 1rem

        .profile-actions
          margin-top: 1rem
          margin-right: -.75rem
          margin-left: -.75rem

        img
          display: block
          margin: auto
          @media (min-width: 768px)
            width: 160px
            height: 160px

    // Информация
    .c-info
      .c-lists-info
        .b-stats_bar
          overflow: visible
          margin-bottom: 0
          &::after
            clear: none

      .c-additionals
        margin-top: 8px
        margin-bottom: 8px

        b
          padding-right: 8px
          font-size: 0
          &::after
            content: 'Активность на сайте:'
            font-size: 14px

  &[data-locale='en'] .profile-head .c-info .c-additionals b::after
    content: 'Activity:'




/* USER PROFILE |> HISTORY ENTRY */
.p-profiles .profile-head .c-history .entry
  position: relative
  padding: .5rem 0
  margin: 0
  border: 0
  overflow: initial

.p-profiles .profile-head .c-history .entry,
.p-profiles .profile-head .c-history .entry:first-child
  padding-top: .5rem
  margin-top: 0

.p-profiles .profile-head .c-history .entry::before
  content: ''
  display: block
  position: absolute
  right: -.5rem
  bottom: 0
  left: 3.5rem
  height: 1px
  pointer-events: none

.p-profiles .profile-head .c-history .entry:last-child::before
  display: none

/* Полноразмерная ссылка .entry, работает только для .c-history & .l-menu */
.p-profiles .profile-head .c-history .entry a
  display: block
  padding: .5rem .5rem
  margin: -.5rem

@media (min-width: 960px)
  .p-profiles .profile-head .c-history .entry a
    padding: .75rem .5rem

.p-profiles .profile-head .c-history .entry a::after
  content: ''
  clear: both
  display: block

.p-profiles .profile-head .c-history .entry:hover .title
  text-decoration: none
/* END of FULLENTRY LINK */

.p-profiles .profile-head .c-history .entry img
  margin: 0 16px 0 0
  max-height: 72px
  max-width: 40px
  border-radius: 2px

.p-profiles .profile-head .c-history .entry .misc
  font-size: .75em








.p-profiles-show
  .b-stats_bar
    // Список аниме
    &.anime
      a.title
        color: $color-primary !important
        &:hover
          background-color: rgba($color-primary, .12)

      .bar
        color: $color-text-on-primary

        .first
          background: $color-primary
        .second
          background: mix($color-primary, $color-background, 72%)

    // Список манги
    &.manga
      a.title
        color: $color-accent !important
        &:hover
          background-color: rgba($color-accent, .12)

      .bar
        color: $color-text-on-accent

        .first
          background: $color-accent
        .second
          background: mix($color-accent, $color-background, 72%)

    // Время за аниме и мангой
    &.lifetime
      .title
        display: block
        width: auto

      .bar
        height: .5rem

        .first
          background: $color-primary

      .cuts .cut
        width: 0
        height: 0
        margin: 0 -.25rem
        background: transparent
        border: .25rem solid transparent
        border-bottom-color: $color-background
        z-index: 1

      .times
        line-height: 0

        .time
          color: $color-text-disabled
          font-size: .625rem
          line-height: 1.25rem
          text-transform: uppercase

          &.checked
            color: $color-primary
            font-weight: bold

            &::before
              display: none
              color: $color-primary
              opacity: .72








/* Иконки совместимости для профиля */
// Исправление видимости
// Спасибо Kana Kuroki и Dewopalaxy
.p-profiles .profile-head .c-info .c-lists-info .b-stats_bar
  position: relative
  overflow: visible

  .compatibility
    a
      font-size: 0

      &:hover
        text-decoration: none

.b-stats_bar
  .compatibility
    // Иконка в личном профиле
    a[href $= '=similar']
      @extend %md-icon
      @extend %md-icon-hover
      @extend %md-tooltip
      @extend %md-tooltip-left
      position: relative
      font-size: 0
      line-height: 0
      margin: 4px 0 !important
      &::before
        content: 'compare_arrows'
      &::after
        content: 'Найти похожих пользователей'
      [data-locale='en'] &::after
        content: 'Find similar users'

    // Убираем иконку совместимости в чужих профилях
    a[href ^= '/comparer']::before
      display: none

    // Иконка в чужом профиле
    .text:first-child
      @extend %md-icon
      @extend %md-icon-hover
      @extend %md-tooltip
      @extend %md-tooltip-left
      position: relative
      font-size: 0
      line-height: 0
      margin: 4px 0 !important
      &::before
        content: 'people'

      &.zero
        &::before
          content: 'people_outline'
        &::after
          content: 'Нет совместимости'
        [data-locale='en'] &::after
          content: 'No compatibility'

      // Низкая совместимость
      &.weak
        background-color: #F9FBE7
        color: #CDDC39 !important
        &:hover
          background-color: #F0F4C3
          color: #C0CA33 !important
        &::after
          content: 'Низкая совместимость'
        [data-locale='en'] &::after
          content: 'Low compatibility'

      // Средняя совместимость
      &.moderate
        background-color: #F1F8E9
        color: #8BC34A !important
        &:hover
          background-color: #DCEDC8
          color: #7CB342 !important
        &::after
          content: 'Средняя совместимость'
        [data-locale='en'] &::after
          content: 'Medium compatibility'

      // Высокая совместимость
      &.high
        background-color: #E8F5E9
        color: #4CAF50 !important
        &:hover
          background-color: #C8E6C9
          color: #43A047 !important
        &::after
          content: 'Высокая совместимость'
        [data-locale='en'] &::after
          content: 'High compatibility'

      // Полная совместимость
      &.full
        background-color: #E1F5FE
        color: #03A9F4 !important
        &:hover
          background-color: #B3E5FC
          color: #039BE5 !important
        &::after
          content: 'Полная совместимость'
        [data-locale='en'] &::after
          content: 'Full compatibility'

    // Скрытый список
    .link-replacement
      cursor: help

      // Недоступные для просмотра данные без фона
      .text:first-child,
      &:hover .text:first-child
        background-color: transparent !important

    // Символ пробела в HTML (sic!)
    .text + .text
      display: none

    // Числовое обозначение совместимости
    .rate
      position: absolute
      top: -.125rem
      right: -.5rem
      padding: 0 .25rem
      background-color: $color-accent
      border-radius:  2px
      color: $color-text-on-accent
      font-size: .75rem
      line-height: 1rem

      // Скобки
      &::before,
      &::after
        display: none




/* Стили Material Icons */
.l-top_menu .menu-items > .entry > a[href *= '/forum']::before,
.l-top_menu .menu-items > .entry.calendar > a::before,
.l-top_menu .menu-items > .entry.info > a::before,
.l-top_menu .menu-items > .entry > .contest::before,
.l-top_menu .menu-items > .entry > a::before,
.l-top_menu .menu-items > a::before,
.l-page .menu-toggler .toggler::before
  font-family: 'Material Icons' !important
  font-weight: normal !important
  line-height: 1

  letter-spacing: normal
  text-transform: none
  word-wrap: normal
  white-space: nowrap
  direction: ltr

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale
  /* Support for IE. */
  font-feature-settings: 'liga'








/* TODO: replace */
.b-catalog-entry-embedded
  .b-catalog_entry
    margin-bottom: 0 !important

/* TODO: replace */
.b-user_rate-extended > .midheadline
  overflow: hidden

/* TODO: check it */
// .b-topic > .inner header .name-date a.name,
// .b-topic > .inner header .name-date .about,
// .b-topic > .inner > header .about a,
// .b-topic > .inner > header .about > span
//   display: inline-block
//   vertical-align: top
//   line-height: inherit

/* TODO: check it */
.b-comment .body,
.b-dialog .body,
.b-message .body,
.b-topic .body
  word-break: break-word /* FIXES: issue #8 */