/* Верхнее меню v2 */
$menu-height: 56px
$menu-background: $color-header-background
$menu-text: mix($color-header-text, $menu-background, 96%)
$menu-icon: mix($menu-text, $menu-background, 76%)
$menu-background-hover: mix($menu-text, $menu-background, 8%)
$menu-background-active: mix($menu-text, $menu-background, 10%)
$search-background: mix($menu-text, $menu-background, 12%)

.l-top_menu-v2
  height: $menu-height
  background-color: $color-header-background
  border: 0
  box-shadow: 0 2px 8px 2px rgba(0,0,0,.24)
  color: $menu-text

  .menu-logo
    @media (max-width: 767px)
      .menu-dropdown
        margin-right: .5em


  // Общее
  @media (min-width: 768px)
    .menu-dropdown.main,
    .logo-container
      margin-right: 1em


  // Лого
  .logo-container
    padding: 0 8px
    color: inherit
    font-size: 20px
    font-weight: bold
    @media (min-width: 768px)
      padding: 0 24px 0 8px
      margin-right: 0

    &::after
      content: attr(title)

    .glyph
      margin: 0 1em 0 0

    .logo
      display: none

  // Кнопки меню
  .menu-icon,
  .menu-dropdown
    margin-right: 0

  .menu-icon,
  .menu-dropdown > button
    height: $menu-height

  .menu-icon:focus,
  .menu-dropdown > button:focus
    background-color: $menu-background-hover

  .menu-icon:hover,
  .menu-dropdown:hover > button
    @media (min-width: 768px)
      background-color: $menu-background-hover

  .icon-other
    @extend %material-icons

  .menu-icon
    $badge-size: 22px
    padding: 1em
    @extend %material-icons
    &::before
      color: $menu-icon

    &.contest::after,
    &.mail:after
      top: auto
      width: $badge-size
      height: $badge-size
      margin-top: -$badge-size / 2
      margin-left: $badge-size / 2
      background-color: $color-accent
      border: 0
      color: $color-text-on-accent
      font-family: inherit
      font-size: .75em
      font-weight: bold
      line-height: $badge-size

    &.contest::after
      content: attr(data-count)

  .menu-dropdown
    & > button
      padding: 0 1em
      background: transparent
      @extend %material-icons

      a
        height: $menu-height
        padding: 0
        margin: 0
        color: inherit
        font-size: inherit
        @media (min-width: 768px)
          position: absolute
          top: 0
          right: 0
          bottom: 0
          left: 0
          height: auto
          padding: inherit
          margin: 0
        @media (min-width: 1025px)
          &:hover
            background-color: mix($menu-text, $menu-background-active, 8%)
          &:active
            background-color: mix($menu-text, $menu-background-active, 12%)

      span
        margin: auto 1em
        font-size: inherit

    &.active
      & > button
        background-color: $menu-background-active

    &.main
      @media (min-width: 768px)
        margin-right: 0

      & > button:not(.mobile)
        padding-left: 1em

        span
          margin-left: 1em

    &.profile
      & > button
        img
          height: 32px
          margin-right: -6px
          border-radius: 50%

        @media (max-width: 767px)
          padding: 0 8px

          img
            width: 40px
            height: 40px
            margin: 0


        @media (max-width: 767px)
          &[data-unread_count]:after
            $badge-size: 22px
            top: auto
            width: $badge-size
            height: $badge-size
            margin-top: -$badge-size / 2
            margin-left: $badge-size / 2
            background-color: $color-accent
            border: 0
            color: $color-text-on-accent
            font-family: inherit
            font-size: .75em
            font-weight: bold
            line-height: $badge-size


  // Выпадающее меню
  .submenu
    background-color: $menu-background-active
    border: 0
    border-color: $menu-background-active
    border-radius: 0 0 $border-rounded $border-rounded

    &::after
      content: ''
      display: block
      height: .5em

    & > .legend
      padding: .5rem 1rem
      margin-top: .25rem
      font-size: .75em
      line-height: 1.5rem

      &:first-child
        margin: 0

    & > a
      padding: .5em 1em
      color: inherit

      @media (min-width: 768px)
        height: auto
        font-size: inherit
        line-height: 1.5em

      &:active, &.active
        background: mix($menu-text, $menu-background-active, 8%)
        color: inherit

      @extend %material-icons
      &::before
        margin-right: 16px
        color: $menu-icon

        @media (max-width: 767px)
          margin-right: 32px

      &.icon-mail
        span.text
          display: flex
          position: static

        span.unread
          margin-left: auto
          color: inherit
          font-size: .875em

          span
            color: inherit

        @media (min-width: 1025px)
          &:hover
            span.unread span
              color: inherit


  // Иконки
  .menu-icon
    &.trigger
      width: auto

  .icon-avatar
    img
      width: 32px
      height: 32px
      margin: 0 -8px 0 0
      border-radius: 50%

  .icon-anime_list,
  .icon-manga_list,
  .icon-characters
    &::before
      background: none
      @media (max-width: 767px)
        height: auto
        margin: 0 16px 0 0

  .icon-anime_list::before
    content: 'video_library'

  .icon-manga_list::before
    content: 'library_books'

  .icon-characters::before
    content: 'face'

  .icon-profile::before
    content: 'person'

  .icon-home::before
    content: 'home'

  .menu-icon.search::before
    content: 'search'

  .icon-anime::before
    content: 'ondemand_video'

  .icon-manga::before
    content: 'photo_album'

  .icon-ranobe::before
    content: 'book'

  .icon-clubs::before
    content: 'group_work'

  .icon-collections::before
    content: 'widgets'

  .icon-reviews::before
    content: 'rate_review'

  .menu-icon.forum::before,
  .icon-forum::before
    content: 'forum'

  .icon-calendar::before
    content: 'today'

  .menu-icon.contest::before,
  .icon-contests::before
    content: 'equalizer'
    transform: scale(-1, 1)

  .icon-info::before
    content: 'info'

  .icon-socials::before
    content: 'share'

  .menu-icon.moderation::before,
  .icon-moderation::before
    content: 'flag'

  .menu-icon.mail::before,
  .icon-mail::before
    content: 'mail'

  .icon-achievements::before
    content: 'stars'

  .icon-settings::before
    content: 'settings'

  .icon-site_rules::before
    content: 'assignment_late'

  .icon-faq::before
    content: 'help'

  .icon-sign_out::before
    content: 'open_in_new'

  .icon-people::before
    content: 'people'

  .icon-users::before
    content: 'account_circle'

  .menu-icon.trigger::before,
  .icon-other::before
    content: 'menu'

  .icon-anime_list::before,
  .icon-manga_list::before,
  .icon-characters::before
    @media (min-width: 768px)
      height: auto
      margin: 0

  .icon-play::before
    content: 'play_circle_filled'


  // Поиск
  .global-search
    width: 100%
    max-width: 1200px
    margin: auto
    color: inherit

    @media (min-width: 1025px)
      padding: 0 1em

      .x1000 &
        max-width: 1000px

      & > label
        position: relative
        display: block

      .search-results
        right: 16px
        left: 16px
        width: auto

    @media (min-width: 1820px)
      .x1000 &
        position: absolute
        top: 0
        right: 0
        left: 0
        padding: 0 1.5em

    @media (min-width: 2020px)
      .x1200 &
        position: absolute
        top: 0
        right: 0
        left: 0
        padding: 0 1.5em

    & + .menu-icon
       margin-left: auto

    & ~ .menu-dropdown.profile
       margin-left: 0

    input
      display: block
      padding: 0 48px
      margin: ($menu-height - 40px) / 2 0
      background: $search-background
      background: rgba($menu-text, .12)
      border: 0
      border-radius: 3px
      color: inherit
      font-size: inherit
      line-height: 40px

      &::placeholder
        color: inherit

    .clear,
    .search-marker
      bottom: 0
      width: auto
      height: 40px
      padding: 8px
      margin: auto
      font-size: inherit


    .clear
      top: 0
      right: .5em
      color: #757575
      &:hover, &:active
        color: $color-accent

      @extend %material-icons
      &::before
        content: 'clear'
        color: inherit

    .hotkey-marker
      right: .75rem
      border-color: mix($menu-text, $menu-background, 48%)
      color: mix($menu-text, $menu-background, 48%)
      line-height: 19px

    .search-marker
      left: .5rem
      @extend %material-icons
      &::before
        content: 'search'

    .search-results
      top: $menu-height
      padding: .5em 0
      background: $color-background-dialog
      color: $color-text-primary

      .nothing_found::before
        background-color: $color-danger

      .nothing_found,
      .search-mode
        padding: .25em .5em
        border: 0
        color: inherit
        font-size: inherit
        line-height: 2

        &::before
          margin: 0 1.75em 0 .5em !important

      .b-db_entry-variant-list_item
        padding: .75em .5em

        &:hover
          background: mix($color-text-primary, $color-background-dialog, 8%)

      .search-mode
        &:hover
          background: mix($color-text-primary, $color-background-dialog, 12%)
          @media (min-width: 1025px)
            &::before
              background: rgba($color-accent, 0.4)

      .nothing_found,
      .b-db_entry-variant-list_item,
      .search-mode
        border: 0

        &::before
          width: 4px
          margin: 0 16px 0 0
          border-radius: 2px

        &.active,
        &:focus
          background: mix($color-text-primary, $color-background-dialog, 8%)
          &::before
            background: $color-accent

      .search-mode,
      .b-db_entry-variant-list_item
        &:active
          background: mix($color-text-primary, $color-background-dialog, 12%)

          &::before
            background: darken($color-accent, 5%)

      .b-db_entry-variant-list_item
        &::before
          width: auto
          margin: 0
          background: $color-border !important

        &:first-child::before
          display: none

  // Настройки поиска в активном состоянии
  &.is-search-mobile
    @media (max-width: 1024px)
      margin-bottom: 0

      .global-search
        top: 0
        padding: 0
        background: $menu-background
        z-index: 10

        .search-results
          margin-top: 0

  // Настройки поиска в активном состоянии
  &.is-search-focus,
  &.is-search-mobile
    .global-search
      input
        background-color: #fff
        color: #212121

      .hotkey-marker
        display: none

      .search-marker
        color: #212121 !important
