/**
 * PROFILE COVER
 */
#profiles_show
  .l-page
    @media (min-width: 960px)
      margin-top: 132px


.p-profiles
  .profile-head
    .c-brief
      @media (min-width: 481px)
        height: 104px

        .avatar
          img
            width: auto

          .profile-actions
            position: static

      .avatar
        align-self: flex-end
        min-width: 184px // иконки (40px * 4) + отступы (8px * 3)


.p-profiles .profile-head[data-user-id = '#{$id}']
  // Обложка
  &::before
    content: ''
    display: block
    height: 72px
    margin: 0 -16px
    background-repeat: no-repeat
    background-size: cover

    @media (max-width: 319px)
      display: none !important

    @media (min-width: 320px) and (max-width: 480px)
      height: 16px
      padding-bottom: 56.25%
      margin-top: -128px

    @media (min-width: 481px)
      height: 268px
      margin-top: -48px

    @media (min-width: 768px)
      height: 296px

    @media (min-width: 960px)
      height: 408px
      margin: -204px -24px 0

  .c-brief
    @media (min-width: 320px) and (max-width: 480px)
      background-color: $color-background-dialog
      box-shadow: 0 6px 8px -2px rgba(0, 0, 0, .24)

    .avatar img
      @media (min-width: 481px)
        box-shadow: 0 2px 8px 1px rgba(0, 0, 0, .16)
/* END of PROFILE COVER */

/* Полупрозрачное меню в профиле */
@media (min-width: 960px)
  #profiles_show
    .l-top_menu-v2
      background-color: transparent
      background-image: linear-gradient(rgba($color-header-background,.48), transparent)
      box-shadow: none
      z-index: 11

      &.is-search-shade ~ .b-to-top::before,
      &:hover ~ .b-to-top::before
        opacity: 1

    .b-to-top
      &::before
        content: ''
        display: block
        position: fixed
        top: 0
        right: 0
        left: 0
        height: 56px
        background: $color-header-background
        box-shadow: 0 2px 8px 2px rgba(0, 0, 0, 0.24)
        z-index: 9
        opacity: 0
        visibility: visible
        pointer-events: none
        transition: opacity .25s ease

      &.active::before
        opacity: 1
/* END of Полупрозрачное меню в профиле */
/**/
/**/
/**/
