@import url('https://fonts.googleapis.com/css?family=Roboto:400,500&subset=cyrillic');
@import url('https://cdnjs.cloudflare.com/ajax/libs/material-design-icons/3.0.1/iconfont/material-icons.min.css');

*,
::before,
::after {
  box-sizing: border-box;
}

::placeholder {
  opacity: .5;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: #fafafa;
  color: #212121;
  font: 16px/1.25 'Roboto';
}

a {
  color: #009688;
  -webkit-text-decoration-skip: ink;
  text-decoration-skip: ink;
}

strong,
h1, h2, h4, h5, h6,
.strong {
  font-weight: 500;
}

h3 {
  padding: 1em 0 0 0;
  margin: .5em 0 .5em;
  font-size: 1.125em;
  font-weight: normal;
}

.section_faq + .section_faq h3 {
  margin-top: 1.875em;
}

h4 {
  margin: 1.5em auto .5em;
  color: #747474;
  font-size: .875em;
  text-transform: uppercase;
}

code {
  padding: .0625em .375em;
  margin: 0;
  font-size: .875em;
  background-color: rgba(0,0,0,.08);
  border-radius: 2px;
}

hr {
  margin: .5em 0;
}

label {
  -webkit-tap-highlight-color: transparent;
}

p {
  margin: 1em 0;
}

p:last-child {
  margin-bottom: 0;
}







.page {
  max-width: 1000px;
  margin: auto;
}

.page::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 10em;
  background: #009688;
}

.content {
  position: relative;
  max-width: 720px;
  padding: 1.5em;
  margin: 6em 5.5em 1.5em auto;
  background: #fff;
  border-radius: 2px;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
              0px 4px 5px 0px rgba(0, 0, 0, 0.14),
              0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  z-index: 1;
}

.content h2 {
  margin: .25em auto .5em;
  font-size: 1.25em;
}

.content h2 + p {
  margin-top: .5em;
}

.menubar > label {
  display: inline-block;
  vertical-align: middle;
  padding: .75em;
}

.topbar-title::after {
  vertical-align: super;
  font-size: .5em;
}

[data-env='dev'] .topbar-title::after {
  content: ' dev';
}

[data-env='beta'] .topbar-title::after {
  content: ' beta';
}

.topbar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  max-width: inherit;
  margin: auto;
  color: #fff;
}

.topbar > input {
  position: absolute;
  opacity: 0;
}

.topbar nav {
  position: absolute;
  top: 11em;
  width: calc(1000px - 720px - 6.5em);
  min-width: 174px;
}

.topbar nav a {
  display: block;
  padding: .375em 1em;
  margin: .375em auto;
  border-radius: 2px;
  color: #757575;
  font-weight: 500;
  line-height: 1.5;
  text-decoration: none;
}
.topbar nav a:hover {
  background: #eee;
}
.topbar nav a.active {
  background: rgba(0, 150, 136, 0.16);
  color: rgba(0, 150, 136, 1);
}

.shade {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.48);
  z-index: 3;
  visibility: hidden;
  opacity: 0;
}









/**
 * Material Icons
 */
.md-icon {
  display: inline-block;
  position: relative;
  background: transparent;
  border: 0;
  text-align: center;
  z-index: 1;
}
.md-icon::before {
  display: inline-block;
  vertical-align: middle;
  width: 1em;
  font: 1.5em 'Material Icons';
  line-height: 1;

  font-style: normal;
  font-weight: normal;
  letter-spacing: normal;
  text-transform: none;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: 'liga';
}
.md-icon::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: -.5em;
  background: #424242;
  border-radius: 50%;
  transform: scale(0);
  opacity: 0;
  z-index: -1;
}

/* Список иконок */
.ic-menu::before {
  content: 'menu';
}
.ic-collapse::before {
  content: 'expand_more';
}
.ic-user::before {
  content: 'person';
}
.ic-pallete::before {
  content: 'palette';
}
.ic-image::before {
  content: 'image';
}
.ic-wallpaper::before {
  content: 'wallpaper';
}
.ic-panorama::before {
  content: 'panorama';
}
.ic-tune::before {
  content: 'tune';
}
.ic-scheme::before {
  content: 'invert_colors';
}
.ic-build::before {
  content: 'build';
}
.ic-flag::before {
  content: 'flag';
}
.ic-flip::before {
  content: 'flip';
}
.ic-done::before {
  content: 'done';
}
.ic-code::before {
  content: 'code';
}
.ic-file::before {
  content: 'attach_file';
}





/**
 * Material Lists
 */
.md-container {
  margin: .5em 0;
}

.md-container > input {
  position: absolute;
  opacity: 0;
}

.md-list {
  display: block;
  padding: .5em 1.5em;
  margin: 0 -1.5em;
}
.md-list::after {
  content: '';
  display: block;
  clear: both;
}

.md-list .md-list_title {
  display: inline-block;
  margin-right: 1em;
  line-height: 3em;
}
@media (min-width: 1000px) {
  .md-list .md-list_title {
    float: left;
    min-width: 200px;
  }
}
.md-list .md-list_title.inactive {
  color: #757575;
  line-height: 2.5em;
}


.md-list .md-list_title--twoline {
  display: block;
  padding: .25em 0;
}
.md-list_title--twoline > :first-child,
.md-list_title--twoline > :last-child {
  display: block;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.md-list_title--twoline > :first-child {
  color: #444;
  font-weight: 500;
  line-height: 1.5em;
}
.md-list_title--twoline > :last-child {
  line-height: 1em;
}
.md-list_title--twoline + .md-list_description {
  padding: .5em 0;
  font-size: .875em;
}


.md-list .md-list_title .md-icon {
  margin-right: 1em;
}

.md-list .md-list_control {
  float: right;
  padding: .5em;
}
input:checked + .md-list .md-list_control {
  transform: rotate(180deg);
}
input:focus + .md-list .md-list_control::after {
  transform: scale(1);
  opacity: .16;
}
.md-list_control.ic-collapse {
  cursor: pointer;
  transition: .12s ease-in-out;
}

.md-list .md-list_content {
  width: calc(100% - 200px - 1em);
}
@media (min-width: 1000px) {
  .md-list .md-list_content {
    float: left;
  }
}
.md-list.collapsed .md-list_content {
  width: calc(100% - 200px - 1em - 2.5em);
}

.md-list_content-placeholder {
  color: #747474;
  font-size: .875em;
  line-height: 40px;
}

.md-list_description {
  clear: both;
  display: block;
  color: #747474;
}

.md-list_hidden {
  display: none;
}
input:checked + .md-list + .md-list_hidden {
  display: block;
}




/**
 * Material Buttons
 */
.md-btn {
  display: inline-block;
  margin: .5em 0;
  background: transparent;
  border: 0;
  border-radius: 2px;
  font: inherit;
  text-decoration: none;
}
.md-btn:not(:disabled) {
  cursor: pointer;
}

.md-btn + .md-btn {
  margin-left: .5em;
}

.md-btn.raised {
  padding: .5em 1em;
  color: #fff;
}
.md-btn.raised.primary {
  background: #009688;
}
.md-btn:disabled {
  background-color: #BDBDBD;
  box-shadow: none;
  color: #FAFAFA;
  cursor: default;
}

.md-btn span {
  vertical-align: middle;
  font-size: .875em;
  font-weight: 500;
  text-transform: uppercase;
}



/**
 * Material Divider
 */
.md-divider {
  position: relative;
  height: 1px;
  margin: 1em 0;
  background: rgba(0,0,0,.32);
  border: 0;
}
.md-divider::before {
  content: '';
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: 1px;
  background-color: #DDDDDD;
}
.md-divider::after {
  content: '';
  position: absolute;
  right: 50%;
  bottom: 0;
  left: 50%;
  height: 2px;
  background-color: #009688;
  transition: 0s;
}



/**
 * Material Text Field
 */
.md-input input {
  padding: .625em 0;
  background: transparent;
  border: 0;
  font: inherit;
}
.md-input input:focus {
  outline: none;
}
.md-input.fullwidth input {
  width: 100%;
}
.md-textarea .md-divider,
.md-input .md-divider {
  margin: -1px 0 .5em 0;
}
.md-input > input:focus ~ .md-divider::after {
  right: 0;
  left: 0;
  transition: left .2s, right .2s;
}
.md-input_hint {
  display: block;
  font-size: .75em;
  color: #757575;
}
.md-input_error {
  display: none;
  font-size: .75em;
  color: #d32f2f;
}

.md-input.error .md-input_error ~ .md-input_hint {
  display: none;
}
.md-input.error .md-input_error {
  display: block;
}
.md-input.error .md-divider::after {
  right: 0;
  left: 0;
  background-color: #d32f2f;
}


.md-list .md-list_title.error {
  color: #d32f2f;
}
.md-list .md-list_title.error .md-icon {
  color: #d32f2f;
  opacity: .72;
}
.md-list .md-list_title.error .md-icon::before {
  content: 'broken_image';
}

.md-textarea textarea {
  width: 100%;
  padding: .25em 0;
  background: transparent;
  border: 0;
  font: inherit;
  resize: vertical;
}
.md-textarea textarea:focus {
  outline: none;
}
.md-textarea.code textarea {
  font-family: monospace;
}



/**
 * Material Float Action Bar
 */
.md-fab {
  position: absolute;
  top: calc(9em - (3.5em / 2));
  right: 0;
  width: 3.5em;
  height: auto;
  padding: 1em;
  margin: 1em;
  background: #FFD740;
  border: 0;
  border-radius: 50%;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
              0px 4px 5px 0px rgba(0, 0, 0, 0.14),
              0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  color: #212121;
  cursor: pointer;
  font: inherit;
  transition: .24s ease-in-out;
  z-index: 2;
}
.md-fab:hover,
.md-fab:focus {
  box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2),
              0px 8px 10px 1px rgba(0, 0, 0, 0.14),
              0px 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.md-fab.hidden {
  transform: scale(0);
}

.md-fab .md-icon::after {
  background: #fafafa;
  transition: opacity .24s ease-in-out;
}
.md-fab:hover .md-icon::after {
  transform: scale(1.4);
  opacity: .24;
}



/**
 * Material Action Controls
 */
.md-control_group {
  margin: 0 0 0 -.625em;
}

.md-control {
  display: inline-block;
  margin: 0 .5em 0 0;
  cursor: pointer;
}

.md-control:last-child {
  margin: 0;
}

.md-control input {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

.md-checkbox,
.md-radio {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  width: 1.25em;
  height: 1.25em;
  margin: .625em;
  border: .125em solid currentColor;
  opacity: .56;
}
.md-checkbox {
  border-radius: 2px;
}
.md-radio {
  border-radius: 50%;
}
input:checked + .md-checkbox,
input:checked + .md-radio {
  color: #009688;
  opacity: 1;
}
.md-control input:disabled + .md-checkbox,
.md-control input:disabled + .md-radio {
  opacity: .32;
}

.md-checkbox + span,
.md-radio + span {
  vertical-align: middle;
  padding: 0 .375em;
}

@media (min-width: 960px) {
  .md-control {
    margin: 0 1.25em 0 0;
  }

  .md-checkbox + span,
  .md-radio + span {
    padding: 0 .625em;
  }
}


.md-checkbox::before,
.md-radio::before {
  content: '';
  position: absolute;
  top: -.75em;
  right: -.75em;
  left: -.75em;
  bottom: -.75em;
  background-color: currentColor;
  border-radius: 50%;
  opacity: 0;
  transform: scale(0);
  z-index: 1;
}
input:focus + .md-checkbox::before,
input:focus + .md-radio::before {
  opacity: .12;
  transform: scale(1);
}


.md-radio::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: currentColor;
  border-radius: 50%;
  transform: scale(0);
  transition: .12s cubic-bezier(0, 0, 0.2, 1);
}
input:checked + .md-radio::after {
  transform: scale(.625);
}

input:checked + .md-checkbox {
  color: #009688;
  background-color: currentColor;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij4gICAgPHBhdGggZmlsbD0ibm9uZSIgZD0iTTAgMGgyNHYyNEgweiIvPiAgICA8cGF0aCBmaWxsPSIjZmZmIiBkPSJNOSAxNi4yTDQuOCAxMmwtMS40IDEuNEw5IDE5IDIxIDdsLTEuNC0xLjRMOSAxNi4yeiIvPjwvc3ZnPg==);
  background-size: 100%;
  opacity: 1;
}






input[type="color"] {
  width: 3em;
  height: 3em;
  padding: .5em;
  background-color: transparent;
  border: 0;
  border-radius: 100%;
  font: inherit;
}

input[type=color]::-webkit-color-swatch-wrapper {
  padding: 0;
}
input[type=color]::-webkit-color-swatch {
  border: 0;
  border-radius: 100%;
  box-shadow: 0 2px 1px 0 rgba(0,0,0,0.24);
}

input[type=color]:::-moz-color-swatch {
  border: 0;
  border-radius: 100%;
  box-shadow: 0 2px 1px 0 rgba(0,0,0,0.24);
}















.md-list.md-control {
  display: block;
  padding: 0 1em 0 .375em;
  margin: 0 -1em;
}

.md-list.md-control:not(.disabled):hover {
  background: #eee;
}

.md-list.md-control .md-list_description {
  padding: 0 0 .25em 0;
  margin: 0 0 0 3.25em;
  font-size: .875em;
  line-height: 1.25em;
}

@media (min-width: 960px) {
  .md-list.md-control {
    padding: 0 1.5em 0 .875em;
    margin: 0 -1.5em;
  }

  .md-list.md-control .md-list_description {
    margin: 0 0 0 3.5em;
  }
}

.md-list_control[type=text] {
  width: 4.5em;
  padding: 0 .25em;
  margin: .7222em 0;
  background: transparent;
  border: 0;
  font-family: monospace;
  font-size: 1.125em;
  line-height: 1;
  text-transform: lowercase;
}

.md-list_control.fullwidth {
  width: calc(100% - 200px - 1em);
}





[data-url]::after {
  vertical-align: middle;
  padding: 2px 4px;
  margin: 0 0 0 8px;
  border-radius: 2px;
  font-size: 11px;
  font-weight: 500;
}

[data-url ^= 'tests/']::after {
  content: 'Тестовая версия';
  background: #ffd642;
  color: #8a6c00;
}





#create_css {
  display: none;
}

img {
  max-width: 100%;
}

@media (min-width: 767px) {
  .section_faq img {
    width: 48%;
    margin-right: 4%;
  }

  .section_faq img:nth-child(2n) {
    margin-right: 0;
  }
}



.question {
  display: inline-block;
  vertical-align: baseline;
  width: 1.25em;
  margin-left: .25em;
  background: #DDDDDD;
  border-radius: 50%;
  color: #757575;
  line-height: 1.25em;
  text-align: center;
  text-decoration: none;
  opacity: .8;
}
.question:hover,
.question:focus {
  opacity: 1;
}



.icon-author,
.icon-github {
  display: inline-block;
  opacity: .72;
  transition: .2s;
}
.icon-author:hover,
.icon-github:hover {
  opacity: 1;
}



.notify {
  position: fixed;
  right: 10%;
  bottom: 0;
  padding: .875rem 1rem;
  margin: 0 0 1rem 0;
  background-color: #323232;
  border-radius: 2px;
  color: #eee;
  font-size: .875rem;
  line-height: 1rem;
  opacity: .9;
  transition: 0s;
  transform: translate(0, 300%);
  z-index: 10;
}
.notify_show {
  transition: transform 0.24s cubic-bezier(0.4, 0, 0.2, 1);
  transform: translate(0, 0);
}
.notify.loading {
  padding-left: 3.5rem;
}
.loading span {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 1.5rem;
  width: 1.5rem;
  height: 1.5rem;
  min-height: 0;
  margin: -.75rem 0 0 -.75rem;
  background-color: inherit;
  background-image: none;
  border-radius: 50%;
  box-shadow: inset 0 0 0 0.1875em;
  color: #009688;
  overflow: hidden;
  will-change: transform;
  -webkit-animation: spin 2666ms linear infinite;
  animation: spin 2666ms linear infinite;
  -webkit-clip-path: circle(0.875em at center);
  clip-path: circle(0.875em at center);
}

.loading span:after,
.loading span:before {
  content: "";
  position: absolute;
  width: 7em;
  height: 1.75em;
  background-color: inherit;
}

.loading span:after {
  -webkit-transform: skewX(-80deg) translate(0.875em, 0.875em);
  transform: skewX(-80deg) translate(0.875em, 0.875em);
  -webkit-animation: shape-shift-after 1066.4ms cubic-bezier(0.4, 0, 0.2, 1) infinite alternate;
  animation: shape-shift-after 1066.4ms cubic-bezier(0.4, 0, 0.2, 1) infinite alternate;
}

.loading span:before {
  -webkit-transform: skewX(80deg) translate(0.875em, -0.875em);
  transform: skewX(80deg) translate(0.875em, -0.875em);
  -webkit-animation: shape-shift-before 1066.4ms cubic-bezier(0.4, 0, 0.2, 1) infinite alternate;
  animation: shape-shift-before 1066.4ms cubic-bezier(0.4, 0, 0.2, 1) infinite alternate;
}

@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(1080deg);
    transform: rotate(1080deg);
  }
}

@keyframes spin {
  to {
    -webkit-transform: rotate(1080deg);
    transform: rotate(1080deg);
  }
}

@-webkit-keyframes shape-shift-before {
  to {
    -webkit-transform: skewX(-45deg) translate(0.875em, -0.875em);
    transform: skewX(-45deg) translate(0.875em, -0.875em);
  }
}

@keyframes shape-shift-before {
  to {
    -webkit-transform: skewX(-45deg) translate(0.875em, -0.875em);
    transform: skewX(-45deg) translate(0.875em, -0.875em);
  }
}

@-webkit-keyframes shape-shift-after {
  to {
    -webkit-transform: skewX(45deg) translate(0.875em, 0.875em);
    transform: skewX(45deg) translate(0.875em, 0.875em);
  }
}

@keyframes shape-shift-after {
  to {
    -webkit-transform: skewX(45deg) translate(0.875em, 0.875em);
    transform: skewX(45deg) translate(0.875em, 0.875em);
  }
}



.shiki-preview {
  overflow-x: auto;
}
.shiki-preview__body {
  height: 28rem;
  background-color: #FAFAFA;
  background-position: center;
  background-size: cover;
}
.shiki-preview__body.scheme_dark {
  background-color: #303030;
}
.shiki-preview__page {
  width: 70%;
  height: 25.75rem;
  padding: 1rem 1rem 1rem;
  margin: auto;
  background-color: #FAFAFA;
  overflow: hidden;
}
.scheme_dark .shiki-preview__page {
  background-color: #303030;
}
.shiki-preview__menu {
  position: relative;
  height: 2.25rem;
  background-color: #333;
  box-shadow: 0 2px 8px 2px rgba(0,0,0,.24);
}
.shiki-preview__cover {
  display: none;
  height: 12rem;
  margin: -1rem -1rem 0;
  background-color: #CCC;
  background-position: center;
  background-size: cover;
}
.scheme_dark .shiki-preview__cover {
  background-color: #424242;
}
.shiki-preview__cover.cover_display {
  display: block;
}
.shiki-preview__profile {
  position: relative;
  padding: .5rem 0;
}
.cover_display ~ .shiki-preview__profile {
  margin: -4rem 0 .5rem;
}
.shiki-preview__avatar {
  float: left;
  width: 100px;
  height: 100px;
  margin: 0 1rem 1rem 0;
  background-color: #9B9B9B;
  background-size: cover;
  border-radius: 50%;
}
.cover_display ~ .shiki-preview__profile .shiki-preview__avatar {
  float: none;
  display: inline-block;
  margin: 0 1rem 0 0;
  box-shadow: 0 2px 8px 1px rgba(0, 0, 0, .16);
}
.cover_display ~ .shiki-preview__profile .block-h1 {
  position: absolute;
  bottom: 1rem;
}
.shiki-preview__list {
  float: left;
  width: 55%;
  line-height: 0;
}
.cover_display ~ .shiki-preview__list {
  float: none;
  width: 75%;
}
.shiki-preview__list-anime,
.shiki-preview__list-manga {
  border-radius: .125rem;
  height: .875rem;
}
.shiki-preview__block {
  display: inline-block;
  width: 7rem;
  height: .875rem;
  margin: .25rem 0;
  background-color: #DDD;
  border-radius: .125rem;
}
.scheme_dark .shiki-preview__block {
  background-color: #747474;
}
.shiki-preview__block.block-h1 {
  width: 14rem;
  height: 1.25rem;
}
.shiki-preview__button {
  display: inline-block;
  float: right;
  min-width: 5rem;
  height: 1.5rem;
  margin: 2rem 0 0;
  border-radius: .125rem;
}
.clearfix:after {
  content: '';
  display: block;
  clear: both;
}
.color-primary {
  background-color: #2196F3;
}
.color-accent {
  background-color: #FF4081;
}







@media (min-width: 1000px) {
  .topbar > input,
  .menubar .ic-menu {
    display: none;
  }
  .topbar-title {
    padding: 0 .6667em;
    margin: 1em 0;
    font-size: 1.5em;
    line-height: 1;
  }
}

@media (max-width: 999px) {
  .page::before {
    display: none;
  }
  .topbar {
    z-index: 10;
  }
  .topbar .menubar {
    padding: .25em;
    background: #009688;
  }
  .topbar .topbar-title {
    display: inline-block;
    vertical-align: middle;
    padding: 0 .5em;
    font-size: 1.25em;
    line-height: 1;
  }
  .topbar nav {
    position: fixed;
    top: 0;
    left: 0;
    width: calc(100% - 3.5em);
    height: 100%;
    max-width: 320px;
    background: #fff;
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
                0px 4px 5px 0px rgba(0, 0, 0, 0.14),
                0px 1px 10px 0px rgba(0, 0, 0, 0.12);
    transform: translate3d(-110%,0,0);
    transition: .24s ease-in-out;
    z-index: 3;
  }
  #topbar_menu:checked ~ .shade {
    visibility: visible;
    opacity: 1;
  }
  #topbar_menu:checked ~ nav {
    transform: translate3d(0,0,0);
  }
  .topbar .md-fab {
    position: fixed;
    top: auto;
    bottom: 0;
  }

  .content {
    width: 100%;
    max-width: 100%;
    padding: 4em 1.5em;
    margin: auto;
  }

  .md-list .md-list_content {
    clear: both;
  }
  .md-list .md-list_content,
  .md-list.collapsed .md-list_content {
    display: block;
    width: auto;
  }
}

@media (max-width: 599px) {
  .content {
    padding: 4em 1em 0;
    box-shadow: none;
  }
  .md-list {
    padding: .75em 1em;
    margin: 0 -1em;
  }
}
