/* COLOR SETTINGS | ADD TO LIST BUTTON */
.b-add_to_list.planned form[data-method = "POST"] .trigger,
.b-add_to_list.planned form[data-method = "POST"] .option,
.b-add_to_list.planned form[data-method = "PATCH"] .trigger,
.b-add_to_list.planned form[data-method = "PATCH"] .option,
.b-add_to_list.watching .trigger,
.b-add_to_list.watching .option,
.b-add_to_list.rewatching .trigger,
.b-add_to_list.rewatching .option,
.b-add_to_list.completed .trigger,
.b-add_to_list.completed .option,
.b-add_to_list.on_hold .trigger,
.b-add_to_list.on_hold .option,
.b-add_to_list.dropped .trigger,
.b-add_to_list.dropped .option {
  color: inherit;
}

/* ADD */
.b-add_to_list.planned form[data-method = "POST"] .trigger,
.b-add_to_list.planned form[data-method = "POST"] .option {
  background: #E0E0E0;
}

/* PLANNED */
.b-catalog_entry.planned .image-decor::after {
  background: #00B0FF;
  color: #fff;
}
.b-add_to_list.planned form[data-method = "PATCH"] .trigger,
.b-add_to_list.planned form[data-method = "PATCH"] .option {
  background: #03A9F4;
  color: #FFF;
}

/* WATCHING */
.b-catalog_entry.watching .image-decor::after {
  background: #3D5AFE;
  color: #fff;
}
.b-add_to_list.watching .trigger,
.b-add_to_list.watching .option {
  background: #3F51B5;
  color: #FFF;
}

/* REWATCHING */
.b-catalog_entry.rewatching .image-decor::after {
  background: #3D5AFE;
  color: #fff;
}
.b-add_to_list.rewatching .trigger,
.b-add_to_list.rewatching .option {
  background: #3F51B5;
  color: #FFF;
}

/* COMPLETED */
.b-catalog_entry.completed .image-decor::after {
  background: #00E676;
  color: #fff;
}
.b-add_to_list.completed .trigger,
.b-add_to_list.completed .option {
  background: #4CAF50;
  color: #FFF;
}

/* ON HOLD */
.b-catalog_entry.on_hold .image-decor::after {
  background: #FFC400;
  color: #fff;
}
.b-add_to_list.on_hold .trigger,
.b-add_to_list.on_hold .option {
  background: #FFC107;
}

/* DROPPED */
.b-catalog_entry.dropped .image-decor::after {
  background: #FF1744;
  color: #fff;
}
.b-add_to_list.dropped .trigger,
.b-add_to_list.dropped .option {
  background: #F44336;
  color: #FFF;
}
/* END of COLOR SETTINGS | ADD TO LIST BUTTON */
