/* Фон меню */
.l-top_menu:before { background-color: #212121; }

/* Цвет текста в меню */
.l-top_menu { color: #FAFAFA; }

/* Не забудьте скопировать медиа-запрос для следующих настроек! */
@media only screen and (min-width: 1025px) {
  /* Фон выпадающего меню */
  .l-top_menu .submenu,
  .b-main_search ul.popup { background: #424242; }

  /* Фон строки поиска */
  .b-main_search .input { background: rgba(242,242,242,.32); }

  /* Цвет набираемого текста в строке поиска */
  .b-main_search .input input { color: #fff; }
}
